swagger: '2.0'
info:
  title: The Things Stack — Application Server AppAs As API
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
host: eu1.cloud.thethings.industries
basePath: /api/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- ApiKeyAuth: []
tags:
- name: As
paths:
  /as/applications/{application_ids.application_id}/link:
    get:
      summary: 'Get a link configuration from the Application Server to Network Server.

        This only contains the configuration. Use GetLinkStats to view statistics and any link errors.'
      operationId: As_GetLink
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationLink'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        type: string
      - name: field_mask
        in: query
        required: false
        type: string
      tags:
      - As
    put:
      summary: 'Set a link configuration from the Application Server a Network Server.

        This call returns immediately after setting the link configuration; it does not wait for a link to establish.

        To get link statistics or errors, use GetLinkStats.

        Note that there can only be one Application Server instance linked to a Network Server for a given application at a time.'
      operationId: As_SetLink
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationLink'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/AsSetLinkBody'
      tags:
      - As
  /as/applications/{application_id}/link:
    delete:
      summary: Delete the link between the Application Server and Network Server for the specified application.
      operationId: As_DeleteLink
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: application_id
        in: path
        required: true
        type: string
      tags:
      - As
  /as/applications/{application_id}/link/stats:
    get:
      summary: 'GetLinkStats returns the link statistics.

        This call returns a NotFound error code if there is no link for the given application identifiers.

        This call returns the error code of the link error if linking to a Network Server failed.'
      operationId: As_GetLinkStats
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationLinkStats'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: application_id
        in: path
        required: true
        type: string
      tags:
      - As
  /as/configuration:
    get:
      operationId: As_GetConfiguration
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetAsConfigurationResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
      - As
definitions:
  v3PayloadFormatter:
    type: string
    enum:
    - FORMATTER_NONE
    - FORMATTER_REPOSITORY
    - FORMATTER_GRPC_SERVICE
    - FORMATTER_JAVASCRIPT
    - FORMATTER_CAYENNELPP
    default: FORMATTER_NONE
    description: " - FORMATTER_NONE: No payload formatter to work with raw payload only.\n - FORMATTER_REPOSITORY: Use payload formatter for the end device type from a repository.\n - FORMATTER_GRPC_SERVICE: gRPC service payload formatter. The parameter is the host:port of the service.\n - FORMATTER_JAVASCRIPT: Custom payload formatter that executes Javascript code. The parameter is a JavaScript filename.\n - FORMATTER_CAYENNELPP: CayenneLPP payload formatter.\n\nMore payload formatters can be added."
  PubSubProvidersStatus:
    type: string
    enum:
    - ENABLED
    - WARNING
    - DISABLED
    default: ENABLED
    description: " - ENABLED: No restrictions are in place.\n - WARNING: Warnings are being emitted that the provider will be deprecated in the future.\n - DISABLED: New integrations cannot be set up, and old ones do not start."
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  AsConfigurationWebhooks:
    type: object
    properties:
      unhealthy_attempts_threshold:
        type: string
        format: int64
      unhealthy_retry_interval:
        type: string
  AsConfigurationPubSub:
    type: object
    properties:
      providers:
        $ref: '#/definitions/PubSubProviders'
  v3MessagePayloadFormatters:
    type: object
    properties:
      up_formatter:
        $ref: '#/definitions/v3PayloadFormatter'
        description: Payload formatter for uplink messages, must be set together with its parameter.
      up_formatter_parameter:
        type: string
        description: Parameter for the up_formatter, must be set together. The API enforces a maximum length of 64KB, but the size may be restricted further by deployment configuration.
      down_formatter:
        $ref: '#/definitions/v3PayloadFormatter'
        description: Payload formatter for downlink messages, must be set together with its parameter.
      down_formatter_parameter:
        type: string
        description: Parameter for the down_formatter, must be set together. The API enforces a maximum length of 64KB, but the size may be restricted further by deployment configuration.
  v3ApplicationLink:
    type: object
    properties:
      default_formatters:
        $ref: '#/definitions/v3MessagePayloadFormatters'
        description: 'Default message payload formatters to use when there are no formatters

          defined on the end device level.'
      skip_payload_crypto:
        type: boolean
        description: 'Skip decryption of uplink payloads and encryption of downlink payloads.

          Leave empty for the using the Application Server''s default setting.'
  v3GetAsConfigurationResponse:
    type: object
    properties:
      configuration:
        $ref: '#/definitions/v3AsConfiguration'
  v3AsConfiguration:
    type: object
    properties:
      pubsub:
        $ref: '#/definitions/AsConfigurationPubSub'
      webhooks:
        $ref: '#/definitions/AsConfigurationWebhooks'
    description: Application Server configuration.
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  v3ApplicationLinkStats:
    type: object
    properties:
      linked_at:
        type: string
        format: date-time
      network_server_address:
        type: string
      last_up_received_at:
        type: string
        format: date-time
        description: 'Timestamp when the last upstream message has been received from a Network Server.

          This can be a join-accept, uplink message or downlink message event.'
      up_count:
        type: string
        format: uint64
        description: Number of upstream messages received.
      last_downlink_forwarded_at:
        type: string
        format: date-time
        description: Timestamp when the last downlink message has been forwarded to a Network Server.
      downlink_count:
        type: string
        format: uint64
        description: Number of downlink messages forwarded.
    description: Link stats as monitored by the Application Server.
  AsSetLinkBody:
    type: object
    properties:
      application_ids:
        type: object
      link:
        $ref: '#/definitions/v3ApplicationLink'
      field_mask:
        type: string
  PubSubProviders:
    type: object
    properties:
      mqtt:
        $ref: '#/definitions/PubSubProvidersStatus'
      nats:
        $ref: '#/definitions/PubSubProvidersStatus'
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
