openapi: 3.2.0
info:
  title: Things Stack — Gateway Server Managed Gateway Wi Fi Profile…
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
servers:
- url: https://eu1.cloud.thethings.industries/api/v3
security:
- ApiKeyAuth: []
tags:
- name: ManagedGatewayWiFiProfileConfigurationService
paths:
  /gcs/gateways/profiles/wifi/organizations/{collaborator.organization_ids.organization_id}:
    get:
      operationId: ManagedGatewayWiFiProfileConfigurationService_List
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ManagedGatewayWiFiProfiles'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        schema:
          type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: query
        required: false
        schema:
          type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        schema:
          type: string
      - name: field_mask
        description: The names of the gateway fields that should be returned.
        in: query
        required: false
        schema:
          type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        schema:
          type: integer
          format: int64
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      summary: Managed gateway wi fi profile configuration service list
      x-summary-source: derived
    post:
      operationId: ManagedGatewayWiFiProfileConfigurationService_Create
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ManagedGatewayWiFiProfile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        schema:
          type: string
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3ManagedGatewayWiFiProfileConfigurationServiceCreateBody'
        required: true
      summary: Managed gateway wi fi profile configuration service create
      x-summary-source: derived
  /gcs/gateways/profiles/wifi/organizations/{collaborator.organization_ids.organization_id}/{profile.profile_id}:
    put:
      operationId: ManagedGatewayWiFiProfileConfigurationService_Update
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ManagedGatewayWiFiProfile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        schema:
          type: string
      - name: profile.profile_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3ManagedGatewayWiFiProfileConfigurationServiceUpdateBody'
        required: true
      summary: Managed gateway wi fi profile configuration service update
      x-summary-source: derived
  /gcs/gateways/profiles/wifi/organizations/{collaborator.organization_ids.organization_id}/{profile_id}:
    get:
      operationId: ManagedGatewayWiFiProfileConfigurationService_Get
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ManagedGatewayWiFiProfile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        schema:
          type: string
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: query
        required: false
        schema:
          type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        schema:
          type: string
      - name: field_mask
        description: The names of the gateway fields that should be returned.
        in: query
        required: false
        schema:
          type: string
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      summary: Managed gateway wi fi profile configuration service get
      x-summary-source: derived
    delete:
      operationId: ManagedGatewayWiFiProfileConfigurationService_Delete
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        schema:
          type: string
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: query
        required: false
        schema:
          type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        schema:
          type: string
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      summary: Managed gateway wi fi profile configuration service delete
      x-summary-source: derived
  /gcs/gateways/profiles/wifi/users/{collaborator.user_ids.user_id}:
    get:
      operationId: ManagedGatewayWiFiProfileConfigurationService_List2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ManagedGatewayWiFiProfiles'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        schema:
          type: string
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        schema:
          type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        schema:
          type: string
      - name: field_mask
        description: The names of the gateway fields that should be returned.
        in: query
        required: false
        schema:
          type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        schema:
          type: integer
          format: int64
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      summary: Managed gateway wi fi profile configuration service list2
      x-summary-source: derived
    post:
      operationId: ManagedGatewayWiFiProfileConfigurationService_Create2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ManagedGatewayWiFiProfile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        schema:
          type: string
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3ManagedGatewayWiFiProfileConfigurationServiceCreateBody'
        required: true
      summary: Managed gateway wi fi profile configuration service create2
      x-summary-source: derived
  /gcs/gateways/profiles/wifi/users/{collaborator.user_ids.user_id}/{profile.profile_id}:
    put:
      operationId: ManagedGatewayWiFiProfileConfigurationService_Update2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ManagedGatewayWiFiProfile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        schema:
          type: string
      - name: profile.profile_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3ManagedGatewayWiFiProfileConfigurationServiceUpdateBody'
        required: true
      summary: Managed gateway wi fi profile configuration service update2
      x-summary-source: derived
  /gcs/gateways/profiles/wifi/users/{collaborator.user_ids.user_id}/{profile_id}:
    get:
      operationId: ManagedGatewayWiFiProfileConfigurationService_Get2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ManagedGatewayWiFiProfile'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        schema:
          type: string
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        schema:
          type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        schema:
          type: string
      - name: field_mask
        description: The names of the gateway fields that should be returned.
        in: query
        required: false
        schema:
          type: string
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      summary: Managed gateway wi fi profile configuration service get2
      x-summary-source: derived
    delete:
      operationId: ManagedGatewayWiFiProfileConfigurationService_Delete2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        schema:
          type: string
      - name: profile_id
        in: path
        required: true
        schema:
          type: string
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        schema:
          type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        schema:
          type: string
      tags:
      - ManagedGatewayWiFiProfileConfigurationService
      summary: Managed gateway wi fi profile configuration service delete2
      x-summary-source: derived
components:
  schemas:
    v3ManagedGatewayWiFiProfiles:
      type: object
      properties:
        profiles:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v3ManagedGatewayWiFiProfile'
    v3ManagedGatewayWiFiProfileConfigurationServiceUpdateBody:
      type: object
      properties:
        profile:
          type: object
          properties:
            profile_name:
              type: string
            shared:
              type: boolean
            ssid:
              type: string
            password:
              type: string
            network_interface_addresses:
              $ref: '#/components/schemas/v3ManagedGatewayNetworkInterfaceAddresses'
        collaborator:
          type: object
          properties:
            organization_ids:
              $ref: '#/components/schemas/v3OrganizationIdentifiers'
            user_ids:
              type: object
              properties:
                email:
                  type: string
                  description: Secondary identifier, which can only be used in specific requests.
          description: OrganizationOrUserIdentifiers contains either organization or user identifiers.
        field_mask:
          type: string
          description: The names of the gateway fields that should be updated.
    googlerpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v3ManagedGatewayNetworkInterfaceAddresses:
      type: object
      properties:
        ip_addresses:
          type: string
          example:
          - 192.0.2.0
          - 2001:db8::1
          items:
            type: string
            format: string
        subnet_mask:
          type: string
          format: string
          example: 192.0.2.0
        gateway:
          type: string
          format: string
          example: 192.0.2.0
        dns_servers:
          type: string
          example:
          - 192.0.2.0
          - 192.0.2.1
          items:
            type: string
            format: string
    v3ManagedGatewayWiFiProfileConfigurationServiceCreateBody:
      type: object
      properties:
        profile:
          $ref: '#/components/schemas/v3ManagedGatewayWiFiProfile'
        collaborator:
          type: object
          properties:
            organization_ids:
              $ref: '#/components/schemas/v3OrganizationIdentifiers'
            user_ids:
              type: object
              properties:
                email:
                  type: string
                  description: Secondary identifier, which can only be used in specific requests.
          description: OrganizationOrUserIdentifiers contains either organization or user identifiers.
    v3ManagedGatewayWiFiProfile:
      type: object
      properties:
        profile_id:
          type: string
        profile_name:
          type: string
        shared:
          type: boolean
        ssid:
          type: string
        password:
          type: string
        network_interface_addresses:
          $ref: '#/components/schemas/v3ManagedGatewayNetworkInterfaceAddresses'
    v3OrganizationIdentifiers:
      type: object
      properties:
        organization_id:
          type: string
          description: This ID shares namespace with user IDs.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
