swagger: '2.0'
info:
  title: The Things Stack — Application Server AppAs NotificationService API
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
host: eu1.cloud.thethings.industries
basePath: /api/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- ApiKeyAuth: []
tags:
- name: NotificationService
paths:
  /users/{receiver_ids.user_id}/notifications:
    get:
      summary: 'List the notifications for a user or an organization.

        When called with user credentials and empty receiver_ids, this will list

        notifications for the current user and its organizations.'
      operationId: NotificationService_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ListNotificationsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: receiver_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: receiver_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: status
        description: 'Select notifications with these statuses.

          An empty list is interpreted as "all".'
        in: query
        required: false
        type: array
        items:
          type: string
          enum:
          - NOTIFICATION_STATUS_UNSEEN
          - NOTIFICATION_STATUS_SEEN
          - NOTIFICATION_STATUS_ARCHIVED
        collectionFormat: multi
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - NotificationService
    patch:
      summary: Batch-update multiple notifications to the same status.
      operationId: NotificationService_UpdateStatus
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: receiver_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/NotificationServiceUpdateStatusBody'
      tags:
      - NotificationService
definitions:
  v3NotificationStatus:
    type: string
    enum:
    - NOTIFICATION_STATUS_UNSEEN
    - NOTIFICATION_STATUS_SEEN
    - NOTIFICATION_STATUS_ARCHIVED
    default: NOTIFICATION_STATUS_UNSEEN
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v3EntityIdentifiers:
    type: object
    properties:
      application_ids:
        $ref: '#/definitions/v3ApplicationIdentifiers'
      client_ids:
        $ref: '#/definitions/v3ClientIdentifiers'
      device_ids:
        $ref: '#/definitions/v3EndDeviceIdentifiers'
      gateway_ids:
        $ref: '#/definitions/lorawanv3GatewayIdentifiers'
      organization_ids:
        $ref: '#/definitions/v3OrganizationIdentifiers'
      user_ids:
        $ref: '#/definitions/v3UserIdentifiers'
    description: EntityIdentifiers contains one of the possible entity identifiers.
  v3ListNotificationsResponse:
    type: object
    properties:
      notifications:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3Notification'
  NotificationServiceUpdateStatusBody:
    type: object
    properties:
      receiver_ids:
        type: object
        properties:
          email:
            type: string
            description: Secondary identifier, which can only be used in specific requests.
        description: The IDs of the receiving user.
        title: The IDs of the receiving user.
      ids:
        type: array
        items:
          type: string
        description: The IDs of the notifications to update the status of.
      status:
        $ref: '#/definitions/v3NotificationStatus'
        description: The status to set on the notifications.
  v3EndDeviceIdentifiers:
    type: object
    properties:
      device_id:
        type: string
      application_ids:
        $ref: '#/definitions/v3ApplicationIdentifiers'
      dev_eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: The LoRaWAN DevEUI.
      join_eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
      dev_addr:
        type: string
        format: string
        example: 2600ABCD
        description: The LoRaWAN DevAddr.
  v3ApplicationIdentifiers:
    type: object
    properties:
      application_id:
        type: string
  lorawanv3GatewayIdentifiers:
    type: object
    properties:
      gateway_id:
        type: string
      eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: Secondary identifier, which can only be used in specific requests.
  v3UserIdentifiers:
    type: object
    properties:
      user_id:
        type: string
        description: This ID shares namespace with organization IDs.
      email:
        type: string
        description: Secondary identifier, which can only be used in specific requests.
  v3Notification:
    type: object
    properties:
      id:
        type: string
        description: The immutable ID of the notification. Generated by the server.
      created_at:
        type: string
        format: date-time
        description: The time when the notification was triggered.
      entity_ids:
        $ref: '#/definitions/v3EntityIdentifiers'
        description: The entity this notification is about.
      notification_type:
        type: string
        description: 'The type of this notification.

          TODO: Replace with type NotificationType in v4 https://github.com/TheThingsNetwork/lorawan-stack/issues/7384.'
      data:
        $ref: '#/definitions/protobufAny'
        description: The data related to the notification.
      sender_ids:
        $ref: '#/definitions/v3UserIdentifiers'
        description: If the notification was triggered by a user action, this contains the identifiers of the user that triggered the notification.
      receivers:
        type: array
        items:
          $ref: '#/definitions/v3NotificationReceiver'
        description: Relation of the notification receiver to the entity.
      email:
        type: boolean
        description: Whether an email was sent for the notification.
      status:
        $ref: '#/definitions/v3NotificationStatus'
        description: The status of the notification.
      status_updated_at:
        type: string
        format: date-time
        description: The time when the notification status was updated.
  v3NotificationReceiver:
    type: string
    enum:
    - NOTIFICATION_RECEIVER_UNKNOWN
    - NOTIFICATION_RECEIVER_COLLABORATOR
    - NOTIFICATION_RECEIVER_ADMINISTRATIVE_CONTACT
    - NOTIFICATION_RECEIVER_TECHNICAL_CONTACT
    default: NOTIFICATION_RECEIVER_UNKNOWN
    description: " - NOTIFICATION_RECEIVER_COLLABORATOR: Notification is received by collaborators of the entity.\nIf the collaborator is an organization, the notification is received by organization members.\n - NOTIFICATION_RECEIVER_ADMINISTRATIVE_CONTACT: Notification is received by administrative contact of the entity.\nIf this is an organization, the notification is received by organization members.\n - NOTIFICATION_RECEIVER_TECHNICAL_CONTACT: Notification is received by technical contact of the entity.\nIf this is an organization, the notification is received by organization members."
  v3ClientIdentifiers:
    type: object
    properties:
      client_id:
        type: string
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  v3OrganizationIdentifiers:
    type: object
    properties:
      organization_id:
        type: string
        description: This ID shares namespace with user IDs.
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
