swagger: '2.0'
info:
  title: The Things Stack — Application Server AppAs NsRelayConfigurationService API
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
host: eu1.cloud.thethings.industries
basePath: /api/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- ApiKeyAuth: []
tags:
- name: NsRelayConfigurationService
paths:
  /ns/applications/{end_device_ids.application_ids.application_id}/relays:
    post:
      summary: Create a relay.
      operationId: NsRelayConfigurationService_CreateRelay
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3CreateRelayResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/NsRelayConfigurationServiceCreateRelayBody'
      tags:
      - NsRelayConfigurationService
  /ns/applications/{end_device_ids.application_ids.application_id}/relays/{end_device_ids.device_id}:
    get:
      summary: Get a relay.
      operationId: NsRelayConfigurationService_GetRelay
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetRelayResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: end_device_ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      - name: field_mask
        description: Field mask of the fields to return.
        in: query
        required: false
        type: string
      tags:
      - NsRelayConfigurationService
    delete:
      summary: Delete a relay.
      operationId: NsRelayConfigurationService_DeleteRelay
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3DeleteRelayResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: end_device_ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      tags:
      - NsRelayConfigurationService
    put:
      summary: Update a relay.
      operationId: NsRelayConfigurationService_UpdateRelay
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3UpdateRelayResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/NsRelayConfigurationServiceUpdateRelayBody'
      tags:
      - NsRelayConfigurationService
  /ns/applications/{end_device_ids.application_ids.application_id}/relays/{end_device_ids.device_id}/uplink-forwarding-rules:
    get:
      summary: List uplink forwarding rules.
      operationId: NsRelayConfigurationService_ListRelayUplinkForwardingRules
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ListRelayUplinkForwardingRulesResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: end_device_ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      - name: field_mask
        description: Field mask of the fields to return.
        in: query
        required: false
        type: string
      tags:
      - NsRelayConfigurationService
    post:
      summary: Create an uplink forwarding rule.
      operationId: NsRelayConfigurationService_CreateRelayUplinkForwardingRule
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3CreateRelayUplinkForwardingRuleResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/NsRelayConfigurationServiceCreateRelayUplinkForwardingRuleBody'
      tags:
      - NsRelayConfigurationService
  ? /ns/applications/{end_device_ids.application_ids.application_id}/relays/{end_device_ids.device_id}/uplink-forwarding-rules/{index}
  : get:
      summary: Get an uplink forwarding rule.
      operationId: NsRelayConfigurationService_GetRelayUplinkForwardingRule
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetRelayUplinkForwardingRuleResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: index
        description: Index of the uplink forwarding rule.
        in: path
        required: true
        type: integer
        format: int64
      - name: end_device_ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      - name: field_mask
        description: Field mask of the fields to return.
        in: query
        required: false
        type: string
      tags:
      - NsRelayConfigurationService
    delete:
      summary: Delete an uplink forwarding rule.
      operationId: NsRelayConfigurationService_DeleteRelayUplinkForwardingRule
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3DeleteRelayUplinkForwardingRuleResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: index
        description: Index of the uplink forwarding rule.
        in: path
        required: true
        type: integer
        format: int64
      - name: end_device_ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      tags:
      - NsRelayConfigurationService
    put:
      summary: Update an uplink forwarding rule.
      operationId: NsRelayConfigurationService_UpdateRelayUplinkForwardingRule
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3UpdateRelayUplinkForwardingRuleResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: index
        description: Index of the uplink forwarding rule.
        in: path
        required: true
        type: integer
        format: int64
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/NsRelayConfigurationServiceUpdateRelayUplinkForwardingRuleBody'
      tags:
      - NsRelayConfigurationService
definitions:
  v3RelayLimitBucketSize:
    type: string
    enum:
    - RELAY_LIMIT_BUCKET_SIZE_1
    - RELAY_LIMIT_BUCKET_SIZE_2
    - RELAY_LIMIT_BUCKET_SIZE_4
    - RELAY_LIMIT_BUCKET_SIZE_12
    default: RELAY_LIMIT_BUCKET_SIZE_1
    title: '- RELAY_LIMIT_BUCKET_SIZE_12: sic'
  NsRelayConfigurationServiceUpdateRelayUplinkForwardingRuleBody:
    type: object
    properties:
      end_device_ids:
        type: object
        properties:
          application_ids:
            type: object
          dev_eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: The LoRaWAN DevEUI.
          join_eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
          dev_addr:
            type: string
            format: string
            example: 2600ABCD
            description: The LoRaWAN DevAddr.
        description: End device identifiers of the relay.
        title: End device identifiers of the relay.
      rule:
        $ref: '#/definitions/v3RelayUplinkForwardingRule'
        description: Uplink forwarding rule.
      field_mask:
        type: string
        description: Field mask of the fields to update.
  v3UpdateRelayUplinkForwardingRuleResponse:
    type: object
    properties:
      rule:
        $ref: '#/definitions/v3RelayUplinkForwardingRule'
        description: Uplink forwarding rule.
  v3RelayEndDeviceControlledMode:
    type: object
  v3RelayForwardLimits:
    type: object
    properties:
      bucket_size:
        $ref: '#/definitions/v3RelayLimitBucketSize'
        description: 'The multiplier used to compute the total bucket size for the limits.

          The multiplier is multiplied by the reload rate in order to compute the total bucket size.'
      reload_rate:
        type: integer
        format: int64
        description: The number of tokens which are replenished in the bucket every hour.
  NsRelayConfigurationServiceCreateRelayBody:
    type: object
    properties:
      end_device_ids:
        type: object
        properties:
          device_id:
            type: string
          application_ids:
            type: object
          dev_eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: The LoRaWAN DevEUI.
          join_eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
          dev_addr:
            type: string
            format: string
            example: 2600ABCD
            description: The LoRaWAN DevAddr.
        description: End device identifiers of the relay.
        title: End device identifiers of the relay.
      settings:
        $ref: '#/definitions/v3RelaySettings'
        description: Relay configuration.
  v3DataRateIndex:
    type: string
    enum:
    - DATA_RATE_0
    - DATA_RATE_1
    - DATA_RATE_2
    - DATA_RATE_3
    - DATA_RATE_4
    - DATA_RATE_5
    - DATA_RATE_6
    - DATA_RATE_7
    - DATA_RATE_8
    - DATA_RATE_9
    - DATA_RATE_10
    - DATA_RATE_11
    - DATA_RATE_12
    - DATA_RATE_13
    - DATA_RATE_14
    - DATA_RATE_15
    default: DATA_RATE_0
  v3DeleteRelayUplinkForwardingRuleResponse:
    type: object
  v3RelayUplinkForwardingRule:
    type: object
    properties:
      limits:
        $ref: '#/definitions/v3RelayUplinkForwardLimits'
        description: 'Bucket configuration for the served end device.

          If unset, no individual limits will apply to the end device, but the relay global limitations will apply.'
      last_w_f_cnt:
        type: integer
        format: int64
        description: Last wake on radio frame counter used by the served end device.
      device_id:
        type: string
        description: End device identifier of the served end device.
      session_key_id:
        type: string
        format: byte
        description: Session key ID of the session keys used to derive the root relay session key.
  v3ServingRelayForwardingLimits:
    type: object
    properties:
      reset_behavior:
        $ref: '#/definitions/v3RelayResetLimitCounter'
        description: Reset behavior of the buckets upon limit update.
      join_requests:
        $ref: '#/definitions/v3RelayForwardLimits'
        description: 'Bucket configuration for join requests.

          If unset, no individual limits will apply to join requests, but the relay overall limitations will apply.'
      notifications:
        $ref: '#/definitions/v3RelayForwardLimits'
        description: 'Bucket configuration for unknown device notifications.

          If unset, no individual limits will apply to unknown end device notifications, but the relay overall

          limitations will still apply.'
      uplink_messages:
        $ref: '#/definitions/v3RelayForwardLimits'
        description: 'Bucket configuration for uplink messages across all served end devices.

          If unset, no individual limits will apply to uplink messages across all served end devices, but the relay

          overall limitations will still apply.'
      overall:
        $ref: '#/definitions/v3RelayForwardLimits'
        description: 'Bucket configuration for all relay messages.

          If unset, no overall limits will apply to the relay, but individual limitations will still apply.'
  v3DeleteRelayResponse:
    type: object
  v3GetRelayResponse:
    type: object
    properties:
      settings:
        $ref: '#/definitions/v3RelaySettings'
        description: Relay configuration.
  v3RelaySecondChannel:
    type: object
    properties:
      ack_offset:
        $ref: '#/definitions/v3RelaySecondChAckOffset'
        description: The frequency (Hz) offset used for the WOR acknowledgement.
      data_rate_index:
        $ref: '#/definitions/v3DataRateIndex'
        description: The data rate index used by the WOR and WOR acknowledgement.
      frequency:
        type: string
        format: uint64
        description: The frequency (Hz) used by the wake on radio message.
  v3RelayEndDeviceDynamicMode:
    type: object
    properties:
      smart_enable_level:
        $ref: '#/definitions/v3RelaySmartEnableLevel'
        description: 'The number of consecutive uplinks without a valid downlink before the end device attempts

          to use the relay mode to transmit messages.'
  v3UpdateRelayResponse:
    type: object
    properties:
      settings:
        $ref: '#/definitions/v3RelaySettings'
        description: Relay configuration.
  v3GetRelayUplinkForwardingRuleResponse:
    type: object
    properties:
      rule:
        $ref: '#/definitions/v3RelayUplinkForwardingRule'
        description: Uplink forwarding rule.
  v3RelayUplinkForwardLimits:
    type: object
    properties:
      bucket_size:
        $ref: '#/definitions/v3RelayLimitBucketSize'
        description: 'The multiplier used to compute the total bucket size for the limits.

          The multiplier is multiplied by the reload rate in order to compute the total bucket size.'
      reload_rate:
        type: integer
        format: int64
        description: The number of tokens which are replenished in the bucket every hour.
  NsRelayConfigurationServiceCreateRelayUplinkForwardingRuleBody:
    type: object
    properties:
      end_device_ids:
        type: object
        properties:
          application_ids:
            type: object
          dev_eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: The LoRaWAN DevEUI.
          join_eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
          dev_addr:
            type: string
            format: string
            example: 2600ABCD
            description: The LoRaWAN DevAddr.
        description: End device identifiers of the relay.
        title: End device identifiers of the relay.
      index:
        type: integer
        format: int64
        description: Index of the uplink forwarding rule.
      rule:
        $ref: '#/definitions/v3RelayUplinkForwardingRule'
        description: Uplink forwarding rule.
  v3CreateRelayUplinkForwardingRuleResponse:
    type: object
    properties:
      rule:
        $ref: '#/definitions/v3RelayUplinkForwardingRule'
        description: Uplink forwarding rule.
  v3RelayEndDeviceAlwaysMode:
    type: object
  v3ListRelayUplinkForwardingRulesResponse:
    type: object
    properties:
      rules:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3RelayUplinkForwardingRule'
        description: Uplink forwarding rules.
  v3RelayResetLimitCounter:
    type: string
    enum:
    - RELAY_RESET_LIMIT_COUNTER_ZERO
    - RELAY_RESET_LIMIT_COUNTER_RELOAD_RATE
    - RELAY_RESET_LIMIT_COUNTER_MAX_VALUE
    - RELAY_RESET_LIMIT_COUNTER_NO_RESET
    default: RELAY_RESET_LIMIT_COUNTER_ZERO
  v3CreateRelayResponse:
    type: object
    properties:
      settings:
        $ref: '#/definitions/v3RelaySettings'
        description: Relay configuration.
  v3ServingRelaySettings:
    type: object
    properties:
      second_channel:
        $ref: '#/definitions/v3RelaySecondChannel'
        description: Second wake on radio channel configuration.
      default_channel_index:
        type: integer
        format: int64
        description: 'Index of the default wake on radio channel.

          If unset, the default value from Network Server configuration will be used.'
      cad_periodicity:
        $ref: '#/definitions/v3RelayCADPeriodicity'
        description: Channel activity detection periodicity.
      uplink_forwarding_rules:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3RelayUplinkForwardingRule'
        description: Configured uplink forwarding rules.
      limits:
        $ref: '#/definitions/v3ServingRelayForwardingLimits'
        description: 'Configured forwarding limits.

          If unset, the default value from Network Server configuration will be used.'
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v3RelaySecondChAckOffset:
    type: string
    enum:
    - RELAY_SECOND_CH_ACK_OFFSET_0
    - RELAY_SECOND_CH_ACK_OFFSET_200
    - RELAY_SECOND_CH_ACK_OFFSET_400
    - RELAY_SECOND_CH_ACK_OFFSET_800
    - RELAY_SECOND_CH_ACK_OFFSET_1600
    - RELAY_SECOND_CH_ACK_OFFSET_3200
    default: RELAY_SECOND_CH_ACK_OFFSET_0
    title: "- RELAY_SECOND_CH_ACK_OFFSET_0: 0 kHz\n - RELAY_SECOND_CH_ACK_OFFSET_200: 200 kHz\n - RELAY_SECOND_CH_ACK_OFFSET_400: 400 kHz\n - RELAY_SECOND_CH_ACK_OFFSET_800: 800 kHz\n - RELAY_SECOND_CH_ACK_OFFSET_1600: 1.6 MHz\n - RELAY_SECOND_CH_ACK_OFFSET_3200: 3.2 MHz"
  v3RelaySmartEnableLevel:
    type: string
    enum:
    - RELAY_SMART_ENABLE_LEVEL_8
    - RELAY_SMART_ENABLE_LEVEL_16
    - RELAY_SMART_ENABLE_LEVEL_32
    - RELAY_SMART_ENABLE_LEVEL_64
    default: RELAY_SMART_ENABLE_LEVEL_8
  v3RelaySettings:
    type: object
    properties:
      serving:
        $ref: '#/definitions/v3ServingRelaySettings'
      served:
        $ref: '#/definitions/v3ServedRelaySettings'
    description: 'RelaySettings represent the settings of a relay.

      This is used internally by the Network Server.'
  NsRelayConfigurationServiceUpdateRelayBody:
    type: object
    properties:
      end_device_ids:
        type: object
        properties:
          application_ids:
            type: object
          dev_eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: The LoRaWAN DevEUI.
          join_eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
          dev_addr:
            type: string
            format: string
            example: 2600ABCD
            description: The LoRaWAN DevAddr.
        description: End device identifiers of the relay.
        title: End device identifiers of the relay.
      settings:
        $ref: '#/definitions/v3RelaySettings'
        description: Relay configuration.
      field_mask:
        type: string
        description: Field mask of the fields to update.
  v3ServedRelaySettings:
    type: object
    properties:
      always:
        $ref: '#/definitions/v3RelayEndDeviceAlwaysMode'
        description: The end device will always attempt to use the relay mode in order to send uplink messages.
      dynamic:
        $ref: '#/definitions/v3RelayEndDeviceDynamicMode'
        description: 'The end device will attempt to use relay mode only after a number of uplink messages have been sent without

          receiving a valid a downlink message.'
      end_device_controlled:
        $ref: '#/definitions/v3RelayEndDeviceControlledMode'
        description: The end device will control when it uses the relay mode. This is the default mode.
      backoff:
        type: integer
        format: int64
        description: 'Number of wake on radio frames to be sent without an acknowledgement before sending the uplink message directly.

          If unset, the default value from Network Server configuration will be used.'
      second_channel:
        $ref: '#/definitions/v3RelaySecondChannel'
        description: Second wake on radio channel configuration.
      serving_device_id:
        type: string
        description: End device identifier of the serving end device.
  v3RelayCADPeriodicity:
    type: string
    enum:
    - RELAY_CAD_PERIODICITY_1_SECOND
    - RELAY_CAD_PERIODICITY_500_MILLISECONDS
    - RELAY_CAD_PERIODICITY_250_MILLISECONDS
    - RELAY_CAD_PERIODICITY_100_MILLISECONDS
    - RELAY_CAD_PERIODICITY_50_MILLISECONDS
    - RELAY_CAD_PERIODICITY_20_MILLISECONDS
    default: RELAY_CAD_PERIODICITY_1_SECOND
    title: '- RELAY_CAD_PERIODICITY_20_MILLISECONDS: sic'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
