swagger: '2.0'
info:
  title: The Things Stack — Application Server AppAs GatewayClaimingServer API
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
host: eu1.cloud.thethings.industries
basePath: /api/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- ApiKeyAuth: []
tags:
- name: GatewayClaimingServer
paths:
  /gcls/claim:
    post:
      summary: Claims a gateway by claim authentication code or QR code and transfers the gateway to the target user.
      operationId: GatewayClaimingServer_Claim
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/lorawanv3GatewayIdentifiers'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3ClaimGatewayRequest'
      tags:
      - GatewayClaimingServer
  /gcls/claim/info:
    post:
      summary: Return whether claiming is available for a given gateway EUI.
      operationId: GatewayClaimingServer_GetInfoByGatewayEUI
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetInfoByGatewayEUIResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3GetInfoByGatewayEUIRequest'
      tags:
      - GatewayClaimingServer
  /gcls/claim/{gateway_id}:
    delete:
      summary: 'Unclaims the gateway.

        EUI provided in the request are ignored and the end device is looked up by the gateway ID.'
      operationId: GatewayClaimingServer_Unclaim
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: gateway_id
        in: path
        required: true
        type: string
      - name: eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      tags:
      - GatewayClaimingServer
  /gcls/gateways/{gateway_ids.gateway_id}/authorize:
    post:
      summary: 'AuthorizeGateway allows a gateway to be claimed.

        DEPRECATED: Authorizing gateways for claiming is no longer supported and will be removed in a future version of The

        Things Stack.'
      operationId: GatewayClaimingServer_AuthorizeGateway
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: gateway_ids.gateway_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/GatewayClaimingServerAuthorizeGatewayBody'
      tags:
      - GatewayClaimingServer
  /gcls/gateways/{gateway_id}/authorize:
    delete:
      summary: 'UnauthorizeGateway prevents a gateway from being claimed.

        DEPRECATED: Unauthorizing (locking) gateways for claiming is no longer supported and will be removed in a future

        version of The Things Stack.'
      operationId: GatewayClaimingServer_UnauthorizeGateway
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: gateway_id
        in: path
        required: true
        type: string
      - name: eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      tags:
      - GatewayClaimingServer
definitions:
  v3ClaimGatewayRequest:
    type: object
    properties:
      authenticated_identifiers:
        $ref: '#/definitions/v3ClaimGatewayRequestAuthenticatedIdentifiers'
      qr_code:
        type: string
        format: byte
      collaborator:
        $ref: '#/definitions/v3OrganizationOrUserIdentifiers'
        description: Collaborator to grant all rights on the target gateway.
      target_gateway_id:
        type: string
        description: 'Gateway ID for the target gateway. This must be a unique value.

          If this is not set, the target ID for the target gateway will be set to `<gateway-eui>`.'
      target_gateway_server_address:
        type: string
        description: Target Gateway Server Address for the target gateway.
      cups_redirection:
        $ref: '#/definitions/v3CUPSRedirection'
        description: 'Parameters to set CUPS redirection for the gateway.

          DEPRECATED: This field is deprecated and will be removed in a future version of The Things Stack.'
      target_frequency_plan_id:
        type: string
        description: 'Frequency plan ID of the target gateway.

          TODO: Remove this field (https://github.com/TheThingsIndustries/lorawan-stack/issues/4024)

          DEPRECATED: Use target_frequency_plan_ids instead.'
      target_frequency_plan_ids:
        type: array
        items:
          type: string
        description: Frequency plan IDs of the target gateway.
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v3GetInfoByGatewayEUIRequest:
    type: object
    properties:
      eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
  v3CUPSRedirection:
    type: object
    properties:
      target_cups_uri:
        type: string
        description: CUPS URI for LoRa Basics Station CUPS redirection.
      current_gateway_key:
        type: string
        description: The key set in the gateway to authenticate itself.
      target_cups_trust:
        type: string
        format: byte
        description: Optional PEM encoded CA Root certificate. If this field is empty, DCS will attempt to dial the Target CUPS server and fetch the CA.
      client_tls:
        $ref: '#/definitions/CUPSRedirectionClientTLS'
        title: 'TODO: Support mTLS (https://github.com/TheThingsNetwork/lorawan-stack/issues/137)'
      auth_token:
        type: string
        description: The Device Claiming Server will fill this field with a The Things Stack API Key.
    description: 'DEPRECATED: This message is deprecated and will be removed in a future version of The Things Stack.'
  v3ClaimGatewayRequestAuthenticatedIdentifiers:
    type: object
    properties:
      gateway_eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
      authentication_code:
        type: string
        format: byte
  CUPSRedirectionClientTLS:
    type: object
    properties:
      cert:
        type: string
        format: byte
        description: PEM encoded Client Certificate.
      key:
        type: string
        format: byte
        description: PEM encoded Client Private Key.
  lorawanv3GatewayIdentifiers:
    type: object
    properties:
      gateway_id:
        type: string
      eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: Secondary identifier, which can only be used in specific requests.
  v3GetInfoByGatewayEUIResponse:
    type: object
    properties:
      eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
      supports_claiming:
        type: boolean
      is_managed:
        type: boolean
        description: 'Indicates whether the gateway is a managed gateway.

          If true, when the gateway is successfully claimed, it can be managed with ManagedGatewayConfigurationService.'
  v3UserIdentifiers:
    type: object
    properties:
      user_id:
        type: string
        description: This ID shares namespace with organization IDs.
      email:
        type: string
        description: Secondary identifier, which can only be used in specific requests.
  GatewayClaimingServerAuthorizeGatewayBody:
    type: object
    properties:
      gateway_ids:
        type: object
        properties:
          eui:
            type: string
            format: string
            example: 70B3D57ED000ABCD
            description: Secondary identifier, which can only be used in specific requests.
      api_key:
        type: string
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  v3OrganizationOrUserIdentifiers:
    type: object
    properties:
      organization_ids:
        $ref: '#/definitions/v3OrganizationIdentifiers'
      user_ids:
        $ref: '#/definitions/v3UserIdentifiers'
    description: OrganizationOrUserIdentifiers contains either organization or user identifiers.
  v3OrganizationIdentifiers:
    type: object
    properties:
      organization_id:
        type: string
        description: This ID shares namespace with user IDs.
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
