swagger: '2.0'
info:
  title: The Things Stack — Application Server AppAs ApplicationPackageRegistry API
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
host: eu1.cloud.thethings.industries
basePath: /api/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- ApiKeyAuth: []
tags:
- name: ApplicationPackageRegistry
paths:
  /as/applications/{application_ids.application_id}/devices/{device_id}/packages:
    get:
      summary: List returns the available packages for the end device.
      operationId: ApplicationPackageRegistry_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationPackages'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        type: string
      - name: device_id
        in: path
        required: true
        type: string
      - name: dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      tags:
      - ApplicationPackageRegistry
  /as/applications/{application_ids.application_id}/packages/associations/{f_port}:
    delete:
      summary: DeleteDefaultAssociation removes the default association on the FPort of the application.
      operationId: ApplicationPackageRegistry_DeleteDefaultAssociation
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        type: string
      - name: f_port
        in: path
        required: true
        type: integer
        format: int64
      tags:
      - ApplicationPackageRegistry
  ? /as/applications/{association.ids.end_device_ids.application_ids.application_id}/devices/{association.ids.end_device_ids.device_id}/packages/associations/{association.ids.f_port}
  : put:
      summary: SetAssociation updates or creates the association on the FPort of the end device.
      operationId: ApplicationPackageRegistry_SetAssociation
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationPackageAssociation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: association.ids.end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: association.ids.end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: association.ids.f_port
        in: path
        required: true
        type: integer
        format: int64
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApplicationPackageRegistrySetAssociationBody'
      tags:
      - ApplicationPackageRegistry
  /as/applications/{default.ids.application_ids.application_id}/packages/associations/{default.ids.f_port}:
    put:
      summary: SetDefaultAssociation updates or creates the default association on the FPort of the application.
      operationId: ApplicationPackageRegistry_SetDefaultAssociation
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationPackageDefaultAssociation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: default.ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: default.ids.f_port
        in: path
        required: true
        type: integer
        format: int64
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApplicationPackageRegistrySetDefaultAssociationBody'
      tags:
      - ApplicationPackageRegistry
  ? /as/applications/{end_device_ids.application_ids.application_id}/devices/{end_device_ids.device_id}/packages/associations/{f_port}
  : delete:
      summary: DeleteAssociation removes the association on the FPort of the end device.
      operationId: ApplicationPackageRegistry_DeleteAssociation
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: f_port
        in: path
        required: true
        type: integer
        format: int64
      - name: end_device_ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: end_device_ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      tags:
      - ApplicationPackageRegistry
  /as/applications/{ids.application_ids.application_id}/devices/{ids.device_id}/packages/associations:
    get:
      summary: ListAssociations returns all of the associations of the end device.
      operationId: ApplicationPackageRegistry_ListAssociations
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationPackageAssociations'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: ids.device_id
        in: path
        required: true
        type: string
      - name: ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      - name: limit
        description: 'Limit the number of results per page.

          Each page is ordered by the FPort.'
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: field_mask
        in: query
        required: false
        type: string
      tags:
      - ApplicationPackageRegistry
  /as/applications/{ids.application_ids.application_id}/packages/associations/{ids.f_port}:
    get:
      summary: GetDefaultAssociation returns the default association registered on the FPort of the application.
      operationId: ApplicationPackageRegistry_GetDefaultAssociation
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationPackageDefaultAssociation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: ids.f_port
        in: path
        required: true
        type: integer
        format: int64
      - name: field_mask
        in: query
        required: false
        type: string
      tags:
      - ApplicationPackageRegistry
  /as/applications/{ids.application_id}/packages/associations:
    get:
      summary: ListDefaultAssociations returns all of the default associations of the application.
      operationId: ApplicationPackageRegistry_ListDefaultAssociations
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationPackageDefaultAssociations'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: ids.application_id
        in: path
        required: true
        type: string
      - name: limit
        description: 'Limit the number of results per page.

          Each page is ordered by the FPort.'
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: field_mask
        in: query
        required: false
        type: string
      tags:
      - ApplicationPackageRegistry
  ? /as/applications/{ids.end_device_ids.application_ids.application_id}/devices/{ids.end_device_ids.device_id}/packages/associations/{ids.f_port}
  : get:
      summary: GetAssociation returns the association registered on the FPort of the end device.
      operationId: ApplicationPackageRegistry_GetAssociation
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ApplicationPackageAssociation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: ids.end_device_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: ids.end_device_ids.device_id
        in: path
        required: true
        type: string
      - name: ids.f_port
        in: path
        required: true
        type: integer
        format: int64
      - name: ids.end_device_ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: ids.end_device_ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: ids.end_device_ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      - name: field_mask
        in: query
        required: false
        type: string
      tags:
      - ApplicationPackageRegistry
definitions:
  v3ApplicationPackageAssociationIdentifiers:
    type: object
    properties:
      end_device_ids:
        $ref: '#/definitions/v3EndDeviceIdentifiers'
      f_port:
        type: integer
        format: int64
  v3ApplicationPackageDefaultAssociation:
    type: object
    properties:
      ids:
        $ref: '#/definitions/v3ApplicationPackageDefaultAssociationIdentifiers'
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      package_name:
        type: string
      data:
        type: object
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  ApplicationPackageRegistrySetAssociationBody:
    type: object
    properties:
      association:
        type: object
        properties:
          ids:
            type: object
            properties:
              end_device_ids:
                type: object
                properties:
                  application_ids:
                    type: object
                  dev_eui:
                    type: string
                    format: string
                    example: 70B3D57ED000ABCD
                    description: The LoRaWAN DevEUI.
                  join_eui:
                    type: string
                    format: string
                    example: 70B3D57ED000ABCD
                    description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
                  dev_addr:
                    type: string
                    format: string
                    example: 2600ABCD
                    description: The LoRaWAN DevAddr.
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          package_name:
            type: string
          data:
            type: object
      field_mask:
        type: string
  v3ApplicationPackage:
    type: object
    properties:
      name:
        type: string
      default_f_port:
        type: integer
        format: int64
  ApplicationPackageRegistrySetDefaultAssociationBody:
    type: object
    properties:
      default:
        type: object
        properties:
          ids:
            type: object
            properties:
              application_ids:
                type: object
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          package_name:
            type: string
          data:
            type: object
      field_mask:
        type: string
  v3ApplicationIdentifiers:
    type: object
    properties:
      application_id:
        type: string
  v3EndDeviceIdentifiers:
    type: object
    properties:
      device_id:
        type: string
      application_ids:
        $ref: '#/definitions/v3ApplicationIdentifiers'
      dev_eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: The LoRaWAN DevEUI.
      join_eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
      dev_addr:
        type: string
        format: string
        example: 2600ABCD
        description: The LoRaWAN DevAddr.
  v3ApplicationPackageAssociations:
    type: object
    properties:
      associations:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3ApplicationPackageAssociation'
  v3ApplicationPackageDefaultAssociationIdentifiers:
    type: object
    properties:
      application_ids:
        $ref: '#/definitions/v3ApplicationIdentifiers'
      f_port:
        type: integer
        format: int64
  v3ApplicationPackageAssociation:
    type: object
    properties:
      ids:
        $ref: '#/definitions/v3ApplicationPackageAssociationIdentifiers'
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      package_name:
        type: string
      data:
        type: object
  v3ApplicationPackages:
    type: object
    properties:
      packages:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3ApplicationPackage'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  v3ApplicationPackageDefaultAssociations:
    type: object
    properties:
      defaults:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3ApplicationPackageDefaultAssociation'
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
