openapi: 3.2.0
info:
  title: Things Stack — End Device Registry End Device Batch…
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
servers:
- url: https://eu1.cloud.thethings.industries/api/v3
security:
- ApiKeyAuth: []
tags:
- name: EndDeviceBatchClaimingServer
paths:
  /edcs/claim/info/batch:
    post:
      summary: Return whether claiming is supported for each Join EUI in a given list
      operationId: EndDeviceBatchClaimingServer_GetInfoByJoinEUIs
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3GetInfoByJoinEUIsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      tags:
      - EndDeviceBatchClaimingServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3GetInfoByJoinEUIsRequest'
        required: true
  /edcs/claim/{application_ids.application_id}/devices/batch:
    delete:
      summary: Unclaims multiple end devices on an external Join Server.
      operationId: EndDeviceBatchClaimingServer_Unclaim
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3BatchUnclaimEndDevicesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        schema:
          type: string
      - name: device_ids
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      tags:
      - EndDeviceBatchClaimingServer
components:
  schemas:
    v3GetInfoByJoinEUIsResponse:
      type: object
      properties:
        infos:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v3GetInfoByJoinEUIResponse'
    v3GetInfoByJoinEUIRequest:
      type: object
      properties:
        join_eui:
          type: string
          format: string
          example: 70B3D57ED000ABCD
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v3BatchUnclaimEndDevicesResponse:
      type: object
      properties:
        application_ids:
          $ref: '#/components/schemas/v3ApplicationIdentifiers'
        failed:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/v3ErrorDetails'
          description: 'End devices that could not be unclaimed.

            The key is the device ID.'
    googlerpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
    v3ErrorDetails:
      type: object
      properties:
        namespace:
          type: string
          description: Namespace of the error (typically the package name in The Things Stack).
        name:
          type: string
          description: Name of the error.
        message_format:
          type: string
          description: 'The default (fallback) message format that should be used for the error.

            This is also used if the client does not have a translation for the error.'
        attributes:
          type: object
          description: 'Attributes that should be filled into the message format. Any extra attributes

            can be displayed as error details.'
        correlation_id:
          type: string
          description: 'The correlation ID of the error can be used to correlate the error to stack

            traces the network may (or may not) store about recent errors.'
        cause:
          $ref: '#/components/schemas/v3ErrorDetails'
          description: The error that caused this error.
        code:
          type: integer
          format: int64
          description: The status code of the error.
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
          description: The details of the error.
      description: 'Error details that are communicated over gRPC (and HTTP) APIs.

        The messages (for translation) are stored as "error:<namespace>:<name>".'
    v3ApplicationIdentifiers:
      type: object
      properties:
        application_id:
          type: string
    v3GetInfoByJoinEUIsRequest:
      type: object
      properties:
        requests:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v3GetInfoByJoinEUIRequest'
    v3GetInfoByJoinEUIResponse:
      type: object
      properties:
        join_eui:
          type: string
          format: string
          example: 70B3D57ED000ABCD
        supports_claiming:
          type: boolean
          description: If set, this Join EUI is available for claiming on one of the configured Join Servers.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
