swagger: '2.0'
info:
  title: The Things Stack — Application Server AppAs OrganizationAccess API
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
host: eu1.cloud.thethings.industries
basePath: /api/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- ApiKeyAuth: []
tags:
- name: OrganizationAccess
paths:
  /organizations/{organization_ids.organization_id}/api-keys:
    get:
      summary: List the API keys for this organization.
      operationId: OrganizationAccess_ListAPIKeys
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKeys'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: order
        description: 'Order the results by this field path.

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - OrganizationAccess
    post:
      summary: 'Create an API key scoped to this organization.

        Organization API keys can give access to the organization itself, as well as

        any application, gateway and OAuth client this organization is a collaborator of.'
      operationId: OrganizationAccess_CreateAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3OrganizationAccessCreateAPIKeyBody'
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/api-keys/{api_key.id}:
    put:
      summary: 'Update the rights of an API key of the organization.

        This method can also be used to delete the API key, by giving it no rights.

        The caller is required to have all assigned or/and removed rights.'
      operationId: OrganizationAccess_UpdateAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: api_key.id
        description: 'Immutable and unique public identifier for the API key.

          Generated by the Access Server.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3OrganizationAccessUpdateAPIKeyBody'
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/api-keys/{key_id}:
    get:
      summary: Get a single API key of this organization.
      operationId: OrganizationAccess_GetAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: key_id
        description: Unique public identifier for the API key.
        in: path
        required: true
        type: string
      tags:
      - OrganizationAccess
    delete:
      summary: Delete a single API key of this organization.
      operationId: OrganizationAccess_DeleteAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: key_id
        in: path
        required: true
        type: string
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/collaborator/user/{collaborator.user_ids.user_id}:
    get:
      summary: 'Get the rights of a collaborator (member) of the organization.

        Pseudo-rights in the response (such as the "_ALL" right) are not expanded.'
      operationId: OrganizationAccess_GetCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetCollaboratorResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/collaborators:
    get:
      summary: List the collaborators on this organization.
      operationId: OrganizationAccess_ListCollaborators
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Collaborators'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      tags:
      - OrganizationAccess
    put:
      summary: 'Set the rights of a collaborator (member) on the organization.

        Organization collaborators can get access to the organization itself, as well as

        any application, gateway and OAuth client this organization is a collaborator of.

        This method can also be used to delete the collaborator, by giving them no rights.

        The caller is required to have all assigned or/and removed rights.'
      operationId: OrganizationAccess_SetCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3OrganizationAccessSetCollaboratorBody'
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/collaborators/user/{collaborator_ids.user_ids.user_id}:
    delete:
      summary: DeleteCollaborator removes a collaborator from an organization.
      operationId: OrganizationAccess_DeleteCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: collaborator_ids.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: collaborator_ids.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - OrganizationAccess
  /organizations/{organization_id}/rights:
    get:
      summary: List the rights the caller has on this organization.
      operationId: OrganizationAccess_ListRights
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Rights'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      tags:
      - OrganizationAccess
definitions:
  v3Rights:
    type: object
    properties:
      rights:
        type: array
        items:
          $ref: '#/definitions/v3Right'
  v3APIKey:
    type: object
    properties:
      id:
        type: string
        description: 'Immutable and unique public identifier for the API key.

          Generated by the Access Server.'
      key:
        type: string
        description: 'Immutable and unique secret value of the API key.

          Generated by the Access Server.'
      name:
        type: string
        description: User-defined (friendly) name for the API key.
      rights:
        type: array
        items:
          $ref: '#/definitions/v3Right'
        description: Rights that are granted to this API key.
      created_at:
        type: string
        format: date-time
      updated_at:
        type: string
        format: date-time
      expires_at:
        type: string
        format: date-time
  v3Collaborator:
    type: object
    properties:
      ids:
        $ref: '#/definitions/v3OrganizationOrUserIdentifiers'
      rights:
        type: array
        items:
          $ref: '#/definitions/v3Right'
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v3OrganizationAccessCreateAPIKeyBody:
    type: object
    properties:
      organization_ids:
        type: object
      name:
        type: string
      rights:
        type: array
        items:
          $ref: '#/definitions/v3Right'
      expires_at:
        type: string
        format: date-time
  v3OrganizationAccessUpdateAPIKeyBody:
    type: object
    properties:
      organization_ids:
        type: object
      api_key:
        type: object
        properties:
          key:
            type: string
            description: 'Immutable and unique secret value of the API key.

              Generated by the Access Server.'
          name:
            type: string
            description: User-defined (friendly) name for the API key.
          rights:
            type: array
            items:
              $ref: '#/definitions/v3Right'
            description: Rights that are granted to this API key.
          created_at:
            type: string
            format: date-time
          updated_at:
            type: string
            format: date-time
          expires_at:
            type: string
            format: date-time
      field_mask:
        type: string
        description: The names of the api key fields that should be updated.
  v3Right:
    type: string
    enum:
    - right_invalid
    - RIGHT_USER_INFO
    - RIGHT_USER_SETTINGS_BASIC
    - RIGHT_USER_LIST
    - RIGHT_USER_CREATE
    - RIGHT_USER_SETTINGS_API_KEYS
    - RIGHT_USER_DELETE
    - RIGHT_USER_PURGE
    - RIGHT_USER_AUTHORIZED_CLIENTS
    - RIGHT_USER_APPLICATIONS_LIST
    - RIGHT_USER_APPLICATIONS_CREATE
    - RIGHT_USER_GATEWAYS_LIST
    - RIGHT_USER_GATEWAYS_CREATE
    - RIGHT_USER_CLIENTS_LIST
    - RIGHT_USER_CLIENTS_CREATE
    - RIGHT_USER_ORGANIZATIONS_LIST
    - RIGHT_USER_ORGANIZATIONS_CREATE
    - RIGHT_USER_NOTIFICATIONS_READ
    - RIGHT_USER_ALL
    - RIGHT_APPLICATION_INFO
    - RIGHT_APPLICATION_SETTINGS_BASIC
    - RIGHT_APPLICATION_SETTINGS_API_KEYS
    - RIGHT_APPLICATION_SETTINGS_COLLABORATORS
    - RIGHT_APPLICATION_SETTINGS_PACKAGES
    - RIGHT_APPLICATION_DELETE
    - RIGHT_APPLICATION_PURGE
    - RIGHT_APPLICATION_DEVICES_READ
    - RIGHT_APPLICATION_DEVICES_WRITE
    - RIGHT_APPLICATION_DEVICES_READ_KEYS
    - RIGHT_APPLICATION_DEVICES_WRITE_KEYS
    - RIGHT_APPLICATION_TRAFFIC_READ
    - RIGHT_APPLICATION_TRAFFIC_UP_WRITE
    - RIGHT_APPLICATION_TRAFFIC_DOWN_WRITE
    - RIGHT_APPLICATION_LINK
    - RIGHT_APPLICATION_ALL
    - RIGHT_CLIENT_ALL
    - RIGHT_CLIENT_INFO
    - RIGHT_CLIENT_SETTINGS_BASIC
    - RIGHT_CLIENT_SETTINGS_COLLABORATORS
    - RIGHT_CLIENT_DELETE
    - RIGHT_CLIENT_PURGE
    - RIGHT_GATEWAY_INFO
    - RIGHT_GATEWAY_SETTINGS_BASIC
    - RIGHT_GATEWAY_SETTINGS_API_KEYS
    - RIGHT_GATEWAY_SETTINGS_COLLABORATORS
    - RIGHT_GATEWAY_DELETE
    - RIGHT_GATEWAY_PURGE
    - RIGHT_GATEWAY_TRAFFIC_READ
    - RIGHT_GATEWAY_TRAFFIC_DOWN_WRITE
    - RIGHT_GATEWAY_LINK
    - RIGHT_GATEWAY_STATUS_READ
    - RIGHT_GATEWAY_LOCATION_READ
    - RIGHT_GATEWAY_WRITE_SECRETS
    - RIGHT_GATEWAY_READ_SECRETS
    - RIGHT_GATEWAY_ALL
    - RIGHT_ORGANIZATION_INFO
    - RIGHT_ORGANIZATION_SETTINGS_BASIC
    - RIGHT_ORGANIZATION_SETTINGS_API_KEYS
    - RIGHT_ORGANIZATION_SETTINGS_MEMBERS
    - RIGHT_ORGANIZATION_DELETE
    - RIGHT_ORGANIZATION_PURGE
    - RIGHT_ORGANIZATION_APPLICATIONS_LIST
    - RIGHT_ORGANIZATION_APPLICATIONS_CREATE
    - RIGHT_ORGANIZATION_GATEWAYS_LIST
    - RIGHT_ORGANIZATION_GATEWAYS_CREATE
    - RIGHT_ORGANIZATION_CLIENTS_LIST
    - RIGHT_ORGANIZATION_CLIENTS_CREATE
    - RIGHT_ORGANIZATION_ADD_AS_COLLABORATOR
    - RIGHT_ORGANIZATION_ALL
    - RIGHT_SEND_INVITES
    - RIGHT_ALL
    default: right_invalid
    description: "Right is the enum that defines all the different rights to do something in the network.\n\n - RIGHT_USER_INFO: The right to view user information.\n - RIGHT_USER_SETTINGS_BASIC: The right to edit basic user settings.\n - RIGHT_USER_LIST: The right to list users accounts.\n - RIGHT_USER_CREATE: The right to create an user account.\n - RIGHT_USER_SETTINGS_API_KEYS: The right to view and edit user API keys.\n - RIGHT_USER_DELETE: The right to delete user account.\n - RIGHT_USER_PURGE: The right to delete user account.\n - RIGHT_USER_AUTHORIZED_CLIENTS: The right to view and edit authorized OAuth clients of the user.\n - RIGHT_USER_APPLICATIONS_LIST: The right to list applications the user is a collaborator of.\n - RIGHT_USER_APPLICATIONS_CREATE: The right to create an application under the user account.\n - RIGHT_USER_GATEWAYS_LIST: The right to list gateways the user is a collaborator of.\n - RIGHT_USER_GATEWAYS_CREATE: The right to create a gateway under the account of the user.\n - RIGHT_USER_CLIENTS_LIST: The right to list OAuth clients the user is a collaborator of.\n - RIGHT_USER_CLIENTS_CREATE: The right to create an OAuth client under the account of the user.\n - RIGHT_USER_ORGANIZATIONS_LIST: The right to list organizations the user is a member of.\n - RIGHT_USER_ORGANIZATIONS_CREATE: The right to create an organization under the user account.\n - RIGHT_USER_NOTIFICATIONS_READ: The right to read notifications sent to the user.\n - RIGHT_USER_ALL: The pseudo-right for all (current and future) user rights.\n - RIGHT_APPLICATION_INFO: The right to view application information.\n - RIGHT_APPLICATION_SETTINGS_BASIC: The right to edit basic application settings.\n - RIGHT_APPLICATION_SETTINGS_API_KEYS: The right to view and edit application API keys.\n - RIGHT_APPLICATION_SETTINGS_COLLABORATORS: The right to view and edit application collaborators.\n - RIGHT_APPLICATION_SETTINGS_PACKAGES: The right to view and edit application packages and associations.\n - RIGHT_APPLICATION_DELETE: The right to delete application.\n - RIGHT_APPLICATION_PURGE: The right to purge application.\n - RIGHT_APPLICATION_DEVICES_READ: The right to view devices in application.\n - RIGHT_APPLICATION_DEVICES_WRITE: The right to create devices in application.\n - RIGHT_APPLICATION_DEVICES_READ_KEYS: The right to view device keys in application.\nNote that keys may not be stored in a way that supports viewing them.\n - RIGHT_APPLICATION_DEVICES_WRITE_KEYS: The right to edit device keys in application.\n - RIGHT_APPLICATION_TRAFFIC_READ: The right to read application traffic (uplink and downlink).\n - RIGHT_APPLICATION_TRAFFIC_UP_WRITE: The right to write uplink application traffic.\n - RIGHT_APPLICATION_TRAFFIC_DOWN_WRITE: The right to write downlink application traffic.\n - RIGHT_APPLICATION_LINK: The right to link as Application to a Network Server for traffic exchange,\ni.e. read uplink and write downlink (API keys only).\nThis right is typically only given to an Application Server.\nThis right implies RIGHT_APPLICATION_INFO, RIGHT_APPLICATION_TRAFFIC_READ,\nand RIGHT_APPLICATION_TRAFFIC_DOWN_WRITE.\n - RIGHT_APPLICATION_ALL: The pseudo-right for all (current and future) application rights.\n - RIGHT_CLIENT_ALL: The pseudo-right for all (current and future) OAuth client rights.\n - RIGHT_CLIENT_INFO: The right to read client information.\n - RIGHT_CLIENT_SETTINGS_BASIC: The right to edit basic client settings.\n - RIGHT_CLIENT_SETTINGS_COLLABORATORS: The right to view and edit client collaborators.\n - RIGHT_CLIENT_DELETE: The right to delete a client.\n - RIGHT_CLIENT_PURGE: The right to purge a client.\n - RIGHT_GATEWAY_INFO: The right to view gateway information.\n - RIGHT_GATEWAY_SETTINGS_BASIC: The right to edit basic gateway settings.\n - RIGHT_GATEWAY_SETTINGS_API_KEYS: The right to view and edit gateway API keys.\n - RIGHT_GATEWAY_SETTINGS_COLLABORATORS: The right to view and edit gateway collaborators.\n - RIGHT_GATEWAY_DELETE: The right to delete gateway.\n - RIGHT_GATEWAY_PURGE: The right to purge gateway.\n - RIGHT_GATEWAY_TRAFFIC_READ: The right to read gateway traffic.\n - RIGHT_GATEWAY_TRAFFIC_DOWN_WRITE: The right to write downlink gateway traffic.\n - RIGHT_GATEWAY_LINK: The right to link as Gateway to a Gateway Server for traffic exchange,\ni.e. write uplink and read downlink (API keys only)\nThis right is typically only given to a gateway.\nThis right implies RIGHT_GATEWAY_INFO.\n - RIGHT_GATEWAY_STATUS_READ: The right to view gateway status.\n - RIGHT_GATEWAY_LOCATION_READ: The right to view view gateway location.\n - RIGHT_GATEWAY_WRITE_SECRETS: The right to store secrets associated with this gateway.\n - RIGHT_GATEWAY_READ_SECRETS: The right to retrieve secrets associated with this gateway.\n - RIGHT_GATEWAY_ALL: The pseudo-right for all (current and future) gateway rights.\n - RIGHT_ORGANIZATION_INFO: The right to view organization information.\n - RIGHT_ORGANIZATION_SETTINGS_BASIC: The right to edit basic organization settings.\n - RIGHT_ORGANIZATION_SETTINGS_API_KEYS: The right to view and edit organization API keys.\n - RIGHT_ORGANIZATION_SETTINGS_MEMBERS: The right to view and edit organization members.\n - RIGHT_ORGANIZATION_DELETE: The right to delete organization.\n - RIGHT_ORGANIZATION_PURGE: The right to purge organization.\n - RIGHT_ORGANIZATION_APPLICATIONS_LIST: The right to list the applications the organization is a collaborator of.\n - RIGHT_ORGANIZATION_APPLICATIONS_CREATE: The right to create an application under the organization.\n - RIGHT_ORGANIZATION_GATEWAYS_LIST: The right to list the gateways the organization is a collaborator of.\n - RIGHT_ORGANIZATION_GATEWAYS_CREATE: The right to create a gateway under the organization.\n - RIGHT_ORGANIZATION_CLIENTS_LIST: The right to list the OAuth clients the organization is a collaborator of.\n - RIGHT_ORGANIZATION_CLIENTS_CREATE: The right to create an OAuth client under the organization.\n - RIGHT_ORGANIZATION_ADD_AS_COLLABORATOR: The right to add the organization as a collaborator on an existing entity.\n - RIGHT_ORGANIZATION_ALL: The pseudo-right for all (current and future) organization rights.\n - RIGHT_SEND_INVITES: The right to send invites to new users.\nNote that this is not prefixed with \"USER_\"; it is not a right on the user entity.\n - RIGHT_ALL: The pseudo-right for all (current and future) possible rights."
  v3OrganizationAccessSetCollaboratorBody:
    type: object
    properties:
      organization_ids:
        type: object
      collaborator:
        $ref: '#/definitions/v3Collaborator'
  v3UserIdentifiers:
    type: object
    properties:
      user_id:
        type: string
        description: This ID shares namespace with organization IDs.
      email:
        type: string
        description: Secondary identifier, which can only be used in specific requests.
  v3APIKeys:
    type: object
    properties:
      api_keys:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3APIKey'
  v3Collaborators:
    type: object
    properties:
      collaborators:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3Collaborator'
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  v3GetCollaboratorResponse:
    type: object
    properties:
      ids:
        $ref: '#/definitions/v3OrganizationOrUserIdentifiers'
      rights:
        type: array
        items:
          $ref: '#/definitions/v3Right'
  v3OrganizationOrUserIdentifiers:
    type: object
    properties:
      organization_ids:
        $ref: '#/definitions/v3OrganizationIdentifiers'
      user_ids:
        $ref: '#/definitions/v3UserIdentifiers'
    description: OrganizationOrUserIdentifiers contains either organization or user identifiers.
  v3OrganizationIdentifiers:
    type: object
    properties:
      organization_id:
        type: string
        description: This ID shares namespace with user IDs.
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
