swagger: '2.0'
info:
  title: The Things Stack — Application Server AppAs ManagedGatewayConfigurationService API
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
host: eu1.cloud.thethings.industries
basePath: /api/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
security:
- ApiKeyAuth: []
tags:
- name: ManagedGatewayConfigurationService
paths:
  /gcs/gateways/managed/{gateway.ids.gateway_id}:
    put:
      operationId: ManagedGatewayConfigurationService_Update
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ManagedGateway'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: gateway.ids.gateway_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3ManagedGatewayConfigurationServiceUpdateBody'
      tags:
      - ManagedGatewayConfigurationService
  /gcs/gateways/managed/{gateway_ids.gateway_id}:
    get:
      operationId: ManagedGatewayConfigurationService_Get
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ManagedGateway'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: gateway_ids.gateway_id
        in: path
        required: true
        type: string
      - name: gateway_ids.eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      - name: field_mask
        description: The names of the gateway fields that should be returned.
        in: query
        required: false
        type: string
      tags:
      - ManagedGatewayConfigurationService
  /gcs/gateways/managed/{gateway_id}/events:
    post:
      operationId: ManagedGatewayConfigurationService_StreamEvents
      responses:
        '200':
          description: A successful response.(streaming responses)
          schema:
            type: object
            properties:
              result:
                $ref: '#/definitions/v3ManagedGatewayEventData'
              error:
                $ref: '#/definitions/googlerpcStatus'
            title: Stream result of v3ManagedGatewayEventData
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: gateway_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ManagedGatewayConfigurationServiceStreamEventsBody'
      tags:
      - ManagedGatewayConfigurationService
  /gcs/gateways/managed/{gateway_id}/wifi/scan:
    post:
      operationId: ManagedGatewayConfigurationService_ScanWiFiAccessPoints
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ManagedGatewayWiFiAccessPoints'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: gateway_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/ManagedGatewayConfigurationServiceScanWiFiAccessPointsBody'
      tags:
      - ManagedGatewayConfigurationService
definitions:
  v3ManagedGatewayConfigurationServiceUpdateBody:
    type: object
    properties:
      gateway:
        type: object
        properties:
          ids:
            type: object
            properties:
              eui:
                type: string
                format: string
                example: 70B3D57ED000ABCD
                description: Secondary identifier, which can only be used in specific requests.
          version_ids:
            $ref: '#/definitions/v3GatewayVersionIdentifiers'
          cellular_imei:
            type: string
          cellular_imsi:
            type: string
          wifi_mac_address:
            type: string
            format: string
            example: EC656E000100
          ethernet_mac_address:
            type: string
            format: string
            example: EC656E000100
          wifi_profile_id:
            type: string
          ethernet_profile_id:
            type: string
      field_mask:
        type: string
        description: The names of the gateway fields that should be updated.
  v3ManagedGatewayEthernetBackhaul:
    type: object
    properties:
      network_interface:
        $ref: '#/definitions/v3ManagedGatewayNetworkInterfaceInfo'
  v3ManagedGatewayWiFiAccessPoints:
    type: object
    properties:
      access_points:
        type: array
        items:
          type: object
          $ref: '#/definitions/v3ManagedGatewayWiFiAccessPoint'
  v3ManagedGatewayNetworkInterfaceStatus:
    type: string
    enum:
    - MANAGED_GATEWAY_NETWORK_INTERFACE_STATUS_UNSPECIFIED
    - MANAGED_GATEWAY_NETWORK_INTERFACE_STATUS_DOWN
    - MANAGED_GATEWAY_NETWORK_INTERFACE_STATUS_UP
    - MANAGED_GATEWAY_NETWORK_INTERFACE_STATUS_FAILED
    default: MANAGED_GATEWAY_NETWORK_INTERFACE_STATUS_UNSPECIFIED
  v3LocationSource:
    type: string
    enum:
    - SOURCE_UNKNOWN
    - SOURCE_GPS
    - SOURCE_REGISTRY
    - SOURCE_IP_GEOLOCATION
    - SOURCE_WIFI_RSSI_GEOLOCATION
    - SOURCE_BT_RSSI_GEOLOCATION
    - SOURCE_LORA_RSSI_GEOLOCATION
    - SOURCE_LORA_TDOA_GEOLOCATION
    - SOURCE_COMBINED_GEOLOCATION
    default: SOURCE_UNKNOWN
    description: " - SOURCE_UNKNOWN: The source of the location is not known or not set.\n - SOURCE_GPS: The location is determined by GPS.\n - SOURCE_REGISTRY: The location is set in and updated from a registry.\n - SOURCE_IP_GEOLOCATION: The location is estimated with IP geolocation.\n - SOURCE_WIFI_RSSI_GEOLOCATION: The location is estimated with WiFi RSSI geolocation.\n - SOURCE_BT_RSSI_GEOLOCATION: The location is estimated with BT/BLE RSSI geolocation.\n - SOURCE_LORA_RSSI_GEOLOCATION: The location is estimated with LoRa RSSI geolocation.\n - SOURCE_LORA_TDOA_GEOLOCATION: The location is estimated with LoRa TDOA geolocation.\n - SOURCE_COMBINED_GEOLOCATION: The location is estimated by a combination of geolocation sources.\n\nMore estimation methods can be added."
  v3ManagedGatewayNetworkInterfaceInfo:
    type: object
    properties:
      status:
        $ref: '#/definitions/v3ManagedGatewayNetworkInterfaceStatus'
      dhcp_enabled:
        type: boolean
      addresses:
        $ref: '#/definitions/v3ManagedGatewayNetworkInterfaceAddresses'
  lorawanv3GatewayIdentifiers:
    type: object
    properties:
      gateway_id:
        type: string
      eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: Secondary identifier, which can only be used in specific requests.
  v3ManagedGatewayControllerConnection:
    type: object
    properties:
      network_interface_type:
        $ref: '#/definitions/v3ManagedGatewayNetworkInterfaceType'
  v3ManagedGatewayGatewayServerConnection:
    type: object
    properties:
      network_interface_type:
        $ref: '#/definitions/v3ManagedGatewayNetworkInterfaceType'
      address:
        type: string
  ManagedGatewayConfigurationServiceStreamEventsBody:
    type: object
    properties:
      eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: Secondary identifier, which can only be used in specific requests.
  v3ManagedGatewayEventData:
    type: object
    properties:
      entity:
        $ref: '#/definitions/v3ManagedGateway'
      location:
        $ref: '#/definitions/lorawanv3Location'
      system_status:
        $ref: '#/definitions/v3ManagedGatewaySystemStatus'
      controller_connection:
        $ref: '#/definitions/v3ManagedGatewayControllerConnection'
      gateway_server_connection:
        $ref: '#/definitions/v3ManagedGatewayGatewayServerConnection'
      cellular_backhaul:
        $ref: '#/definitions/v3ManagedGatewayCellularBackhaul'
      wifi_backhaul:
        $ref: '#/definitions/v3ManagedGatewayWiFiBackhaul'
      ethernet_backhaul:
        $ref: '#/definitions/v3ManagedGatewayEthernetBackhaul'
  ManagedGatewayConfigurationServiceScanWiFiAccessPointsBody:
    type: object
    properties:
      eui:
        type: string
        format: string
        example: 70B3D57ED000ABCD
        description: Secondary identifier, which can only be used in specific requests.
  lorawanv3Location:
    type: object
    properties:
      latitude:
        type: number
        format: double
        description: The North–South position (degrees; -90 to +90), where 0 is the equator, North pole is positive, South pole is negative.
      longitude:
        type: number
        format: double
        description: The East-West position (degrees; -180 to +180), where 0 is the Prime Meridian (Greenwich), East is positive , West is negative.
      altitude:
        type: integer
        format: int32
        description: The altitude (meters), where 0 is the mean sea level.
      accuracy:
        type: integer
        format: int32
        description: The accuracy of the location (meters).
      source:
        $ref: '#/definitions/v3LocationSource'
        description: Source of the location information.
  v3ManagedGatewayNetworkInterfaceType:
    type: string
    enum:
    - MANAGED_GATEWAY_NETWORK_INTERFACE_TYPE_UNSPECIFIED
    - MANAGED_GATEWAY_NETWORK_INTERFACE_TYPE_CELLULAR
    - MANAGED_GATEWAY_NETWORK_INTERFACE_TYPE_WIFI
    - MANAGED_GATEWAY_NETWORK_INTERFACE_TYPE_ETHERNET
    default: MANAGED_GATEWAY_NETWORK_INTERFACE_TYPE_UNSPECIFIED
  v3ManagedGatewayWiFiAccessPoint:
    type: object
    properties:
      ssid:
        type: string
      bssid:
        type: string
        format: string
        example: EC656E000100
      channel:
        type: integer
        format: int64
      authentication_mode:
        type: string
      rssi:
        type: number
        format: float
  v3ManagedGatewayWiFiBackhaul:
    type: object
    properties:
      network_interface:
        $ref: '#/definitions/v3ManagedGatewayNetworkInterfaceInfo'
      ssid:
        type: string
      bssid:
        type: string
        format: string
        example: EC656E000100
      channel:
        type: integer
        format: int64
      authentication_mode:
        type: string
      rssi:
        type: number
        format: float
  v3ManagedGatewayNetworkInterfaceAddresses:
    type: object
    properties:
      ip_addresses:
        type: string
        example:
        - 192.0.2.0
        - 2001:db8::1
        items:
          type: string
          format: string
      subnet_mask:
        type: string
        format: string
        example: 192.0.2.0
      gateway:
        type: string
        format: string
        example: 192.0.2.0
      dns_servers:
        type: string
        example:
        - 192.0.2.0
        - 192.0.2.1
        items:
          type: string
          format: string
  googlerpcStatus:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      details:
        type: array
        items:
          type: object
          $ref: '#/definitions/protobufAny'
  v3ManagedGatewayCellularBackhaul:
    type: object
    properties:
      network_interface:
        $ref: '#/definitions/v3ManagedGatewayNetworkInterfaceInfo'
      operator:
        type: string
      rssi:
        type: number
        format: float
  v3ManagedGateway:
    type: object
    properties:
      ids:
        $ref: '#/definitions/lorawanv3GatewayIdentifiers'
      version_ids:
        $ref: '#/definitions/v3GatewayVersionIdentifiers'
      cellular_imei:
        type: string
      cellular_imsi:
        type: string
      wifi_mac_address:
        type: string
        format: string
        example: EC656E000100
      ethernet_mac_address:
        type: string
        format: string
        example: EC656E000100
      wifi_profile_id:
        type: string
      ethernet_profile_id:
        type: string
  v3ManagedGatewaySystemStatus:
    type: object
    properties:
      cpu_temperature:
        type: number
        format: float
        description: CPU temperature (Celsius).
  protobufAny:
    type: object
    properties:
      '@type':
        type: string
        description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
    additionalProperties: {}
    description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
  v3GatewayVersionIdentifiers:
    type: object
    properties:
      brand_id:
        type: string
      model_id:
        type: string
      hardware_version:
        type: string
      firmware_version:
        type: string
      runtime_version:
        type: string
    description: Identifies an end device model with version information.
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
