openapi: 3.2.0
info:
  title: Things Stack — Integrations Application Pub Sub Registry API
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
servers:
- url: https://eu1.cloud.thethings.industries/api/v3
security:
- ApiKeyAuth: []
tags:
- name: ApplicationPubSubRegistry
paths:
  /as/pubsub-formats:
    get:
      operationId: ApplicationPubSubRegistry_GetFormats
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ApplicationPubSubFormats'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      tags:
      - ApplicationPubSubRegistry
      summary: Application pub sub registry get formats
      x-summary-source: derived
  /as/pubsub/{application_ids.application_id}:
    get:
      operationId: ApplicationPubSubRegistry_List
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ApplicationPubSubs'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        schema:
          type: string
      - name: field_mask
        in: query
        required: false
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: page
        in: query
        required: false
        schema:
          type: integer
          format: int64
      tags:
      - ApplicationPubSubRegistry
      summary: Application pub sub registry list
      x-summary-source: derived
  /as/pubsub/{application_ids.application_id}/{pub_sub_id}:
    delete:
      operationId: ApplicationPubSubRegistry_Delete
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                type: object
                properties: {}
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        schema:
          type: string
      - name: pub_sub_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ApplicationPubSubRegistry
      summary: Application pub sub registry delete
      x-summary-source: derived
  /as/pubsub/{ids.application_ids.application_id}/{ids.pub_sub_id}:
    get:
      operationId: ApplicationPubSubRegistry_Get
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ApplicationPubSub'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: ids.application_ids.application_id
        in: path
        required: true
        schema:
          type: string
      - name: ids.pub_sub_id
        in: path
        required: true
        schema:
          type: string
      - name: field_mask
        in: query
        required: false
        schema:
          type: string
      tags:
      - ApplicationPubSubRegistry
      summary: Application pub sub registry get
      x-summary-source: derived
  /as/pubsub/{pubsub.ids.application_ids.application_id}:
    post:
      operationId: ApplicationPubSubRegistry_Set2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ApplicationPubSub'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: pubsub.ids.application_ids.application_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ApplicationPubSubRegistry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3ApplicationPubSubRegistrySetBody'
        required: true
      summary: Application pub sub registry set2
      x-summary-source: derived
  /as/pubsub/{pubsub.ids.application_ids.application_id}/{pubsub.ids.pub_sub_id}:
    put:
      operationId: ApplicationPubSubRegistry_Set
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3ApplicationPubSub'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
      parameters:
      - name: pubsub.ids.application_ids.application_id
        in: path
        required: true
        schema:
          type: string
      - name: pubsub.ids.pub_sub_id
        in: path
        required: true
        schema:
          type: string
      tags:
      - ApplicationPubSubRegistry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3ApplicationPubSubRegistrySetBody'
        required: true
      summary: Application pub sub registry set
      x-summary-source: derived
components:
  schemas:
    v3ApplicationPubSubRegistrySetBody:
      type: object
      properties:
        pubsub:
          type: object
          properties:
            ids:
              type: object
              properties:
                application_ids:
                  type: object
                pub_sub_id:
                  type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
            format:
              type: string
              description: 'The format to use for the body.

                Supported values depend on the Application Server configuration.'
            nats:
              $ref: '#/components/schemas/ApplicationPubSubNATSProvider'
            mqtt:
              $ref: '#/components/schemas/ApplicationPubSubMQTTProvider'
            aws_iot:
              $ref: '#/components/schemas/ApplicationPubSubAWSIoTProvider'
            base_topic:
              type: string
              description: Base topic name to which the messages topic is appended.
            downlink_push:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
              description: The topic to which the Application Server subscribes for downlink queue push operations.
            downlink_replace:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
              description: The topic to which the Application Server subscribes for downlink queue replace operations.
            uplink_message:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            uplink_normalized:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            join_accept:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            downlink_ack:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            downlink_nack:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            downlink_sent:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            downlink_failed:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            downlink_queued:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            downlink_queue_invalidated:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            location_solved:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
            service_data:
              $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        field_mask:
          type: string
    v3ApplicationIdentifiers:
      type: object
      properties:
        application_id:
          type: string
    AWSIoTProviderDefaultIntegration:
      type: object
      properties:
        stack_name:
          type: string
          description: The stack name that is associated with the CloudFormation deployment of The Things Stack Enterprise integration.
    AWSIoTProviderAssumeRole:
      type: object
      properties:
        arn:
          type: string
        external_id:
          type: string
        session_duration:
          type: string
    ApplicationPubSubNATSProvider:
      type: object
      properties:
        server_url:
          type: string
          description: The server connection URL.
      description: The NATS provider settings.
    v3ApplicationPubSubMessage:
      type: object
      properties:
        topic:
          type: string
          description: The topic on which the Application Server publishes or receives the messages.
    googlerpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/protobufAny'
    AWSIoTProviderAccessKey:
      type: object
      properties:
        access_key_id:
          type: string
        secret_access_key:
          type: string
        session_token:
          type: string
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v3ApplicationPubSubFormats:
      type: object
      properties:
        formats:
          type: object
          additionalProperties:
            type: string
          description: Format and description.
    ApplicationPubSubMQTTProvider:
      type: object
      properties:
        server_url:
          type: string
        client_id:
          type: string
        username:
          type: string
        password:
          type: string
        subscribe_qos:
          $ref: '#/components/schemas/MQTTProviderQoS'
        publish_qos:
          $ref: '#/components/schemas/MQTTProviderQoS'
        use_tls:
          type: boolean
        tls_ca:
          type: string
          format: byte
          description: The server Root CA certificate. PEM formatted.
        tls_client_cert:
          type: string
          format: byte
          description: The client certificate. PEM formatted.
        tls_client_key:
          type: string
          format: byte
          description: The client private key. PEM formatted.
        headers:
          type: object
          additionalProperties:
            type: string
          description: HTTP headers to use on MQTT-over-Websocket connections.
      description: The MQTT provider settings.
    v3ApplicationPubSub:
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/v3ApplicationPubSubIdentifiers'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        format:
          type: string
          description: 'The format to use for the body.

            Supported values depend on the Application Server configuration.'
        nats:
          $ref: '#/components/schemas/ApplicationPubSubNATSProvider'
        mqtt:
          $ref: '#/components/schemas/ApplicationPubSubMQTTProvider'
        aws_iot:
          $ref: '#/components/schemas/ApplicationPubSubAWSIoTProvider'
        base_topic:
          type: string
          description: Base topic name to which the messages topic is appended.
        downlink_push:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
          description: The topic to which the Application Server subscribes for downlink queue push operations.
        downlink_replace:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
          description: The topic to which the Application Server subscribes for downlink queue replace operations.
        uplink_message:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        uplink_normalized:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        join_accept:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        downlink_ack:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        downlink_nack:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        downlink_sent:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        downlink_failed:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        downlink_queued:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        downlink_queue_invalidated:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        location_solved:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
        service_data:
          $ref: '#/components/schemas/v3ApplicationPubSubMessage'
    ApplicationPubSubAWSIoTProvider:
      type: object
      properties:
        region:
          type: string
          description: The AWS region.
        access_key:
          $ref: '#/components/schemas/AWSIoTProviderAccessKey'
          description: If set, the integration will use an AWS access key.
        assume_role:
          $ref: '#/components/schemas/AWSIoTProviderAssumeRole'
          description: If set, the integration will assume the given role during operation.
        endpoint_address:
          type: string
          description: 'The endpoint address to connect to. If the endpoint address is left empty,

            the integration will try to discover it.'
        default:
          $ref: '#/components/schemas/AWSIoTProviderDefaultIntegration'
          description: Enable the default integration. This overrides custom base topic and message topics of the pub/sub integration.
    v3ApplicationPubSubs:
      type: object
      properties:
        pubsubs:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/v3ApplicationPubSub'
    MQTTProviderQoS:
      type: string
      enum:
      - AT_MOST_ONCE
      - AT_LEAST_ONCE
      - EXACTLY_ONCE
      default: AT_MOST_ONCE
    v3ApplicationPubSubIdentifiers:
      type: object
      properties:
        application_ids:
          $ref: '#/components/schemas/v3ApplicationIdentifiers'
        pub_sub_id:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
