swagger: '2.0'
info:
  title: The Things Stack — Identity Server
  version: v3.36
  description: The Things Stack is an open-source LoRaWAN Network Server implementation. This OpenAPI was derived from the
    upstream gRPC-Gateway generated api.swagger.json published by TheThingsNetwork/lorawan-stack v3.36.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: The Things Industries
    url: https://www.thethingsindustries.com
host: eu1.cloud.thethings.industries
basePath: /api/v3
schemes:
- https
consumes:
- application/json
produces:
- application/json
securityDefinitions:
  ApiKeyAuth:
    type: apiKey
    in: header
    name: Authorization
    description: 'Bearer API key. Set Authorization: Bearer NNSXS.xxxxxxxxxx.'
security:
- ApiKeyAuth: []
tags:
- name: UserRegistry
- name: UserAccess
- name: UserInvitationRegistry
- name: UserSessionRegistry
- name: UserBookmarkRegistry
- name: OrganizationRegistry
- name: OrganizationAccess
- name: ClientRegistry
- name: ClientAccess
- name: OAuthAuthorizationRegistry
- name: ContactInfoRegistry
- name: EmailValidationRegistry
- name: EntityAccess
- name: EntityRegistrySearch
- name: EndDeviceRegistrySearch
- name: Is
- name: Configuration
- name: NotificationService
paths:
  /applications/{application_ids.application_id}/collaborators/search:
    get:
      summary: Search for accounts that match the conditions specified in the request.
      operationId: EntityRegistrySearch_SearchAccounts2
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3SearchAccountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        type: string
      - name: query
        in: query
        required: false
        type: string
      - name: only_users
        in: query
        required: false
        type: boolean
      - name: client_ids.client_id
        in: query
        required: false
        type: string
      - name: gateway_ids.gateway_id
        in: query
        required: false
        type: string
      - name: gateway_ids.eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: complement_collaborators
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /auth_info:
    get:
      summary: AuthInfo returns information about the authentication that is used on the request.
      operationId: EntityAccess_AuthInfo
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3AuthInfoResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
      - EntityAccess
  /clients:
    get:
      summary: 'List OAuth clients where the given user or organization is a direct collaborator.

        If no user or organization is given, this returns the OAuth clients the caller

        has access to.

        Similar to Get, this selects the fields specified in the field mask.

        More or less fields may be returned, depending on the rights of the caller.'
      operationId: ClientRegistry_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Clients'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: field_mask
        description: The names of the client fields that should be returned.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted clients.
        in: query
        required: false
        type: boolean
      tags:
      - ClientRegistry
  /clients/{client.ids.client_id}:
    put:
      summary: Update the OAuth client, changing the fields specified by the field mask to the provided values.
      operationId: ClientRegistry_Update
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Client'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client.ids.client_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3ClientRegistryUpdateBody'
      tags:
      - ClientRegistry
  /clients/{client_ids.client_id}:
    get:
      summary: 'Get the OAuth client with the given identifiers, selecting the fields specified

        in the field mask.

        More or less fields may be returned, depending on the rights of the caller.'
      operationId: ClientRegistry_Get
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Client'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: field_mask
        description: The names of the client fields that should be returned.
        in: query
        required: false
        type: string
      tags:
      - ClientRegistry
  /clients/{client_ids.client_id}/collaborator/organization/{collaborator.organization_ids.organization_id}:
    get:
      summary: 'Get the rights of a collaborator (member) of the client.

        Pseudo-rights in the response (such as the "_ALL" right) are not expanded.'
      operationId: ClientAccess_GetCollaborator2
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetCollaboratorResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - ClientAccess
  /clients/{client_ids.client_id}/collaborator/user/{collaborator.user_ids.user_id}:
    get:
      summary: 'Get the rights of a collaborator (member) of the client.

        Pseudo-rights in the response (such as the "_ALL" right) are not expanded.'
      operationId: ClientAccess_GetCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetCollaboratorResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - ClientAccess
  /clients/{client_ids.client_id}/collaborators:
    get:
      summary: List the collaborators on this OAuth client.
      operationId: ClientAccess_ListCollaborators
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Collaborators'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      tags:
      - ClientAccess
    put:
      summary: 'Set the rights of a collaborator (member) on the OAuth client.

        This method can also be used to delete the collaborator, by giving them no rights.

        The caller is required to have all assigned or/and removed rights.'
      operationId: ClientAccess_SetCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3ClientAccessSetCollaboratorBody'
      tags:
      - ClientAccess
  /clients/{client_ids.client_id}/collaborators/organization/{collaborator_ids.organization_ids.organization_id}:
    delete:
      summary: DeleteCollaborator removes a collaborator from a client.
      operationId: ClientAccess_DeleteCollaborator2
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: collaborator_ids.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: collaborator_ids.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: query
        required: false
        type: string
      - name: collaborator_ids.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - ClientAccess
  /clients/{client_ids.client_id}/collaborators/search:
    get:
      summary: Search for accounts that match the conditions specified in the request.
      operationId: EntityRegistrySearch_SearchAccounts3
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3SearchAccountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: query
        in: query
        required: false
        type: string
      - name: only_users
        in: query
        required: false
        type: boolean
      - name: application_ids.application_id
        in: query
        required: false
        type: string
      - name: gateway_ids.gateway_id
        in: query
        required: false
        type: string
      - name: gateway_ids.eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: complement_collaborators
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /clients/{client_ids.client_id}/collaborators/user/{collaborator_ids.user_ids.user_id}:
    delete:
      summary: DeleteCollaborator removes a collaborator from a client.
      operationId: ClientAccess_DeleteCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: collaborator_ids.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: collaborator_ids.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: collaborator_ids.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - ClientAccess
  /clients/{client_id}:
    delete:
      summary: Delete the OAuth client. This may not release the client ID for reuse.
      operationId: ClientRegistry_Delete
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_id
        in: path
        required: true
        type: string
      tags:
      - ClientRegistry
  /clients/{client_id}/purge:
    delete:
      summary: Purge the client. This will release the client ID for reuse.
      operationId: ClientRegistry_Purge
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_id
        in: path
        required: true
        type: string
      tags:
      - ClientRegistry
  /clients/{client_id}/restore:
    post:
      summary: Restore a recently deleted client.
      description: 'Deployment configuration may specify if, and for how long after deletion,

        entities can be restored.'
      operationId: ClientRegistry_Restore
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_id
        in: path
        required: true
        type: string
      tags:
      - ClientRegistry
  /clients/{client_id}/rights:
    get:
      summary: List the rights the caller has on this application.
      operationId: ClientAccess_ListRights
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Rights'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: client_id
        in: path
        required: true
        type: string
      tags:
      - ClientAccess
  /configuration/bands:
    get:
      operationId: Configuration_ListBands
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ListBandsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: band_id
        description: 'Optional Band ID to filter the results.

          If unused, all supported Bands are returned.'
        in: query
        required: false
        type: string
      - name: phy_version
        description: 'Optional PHY version to filter the results.

          If unused, all supported versions are returned.'
        in: query
        required: false
        type: string
        enum:
        - PHY_UNKNOWN
        - PHY_V1_0
        - TS001_V1_0
        - PHY_V1_0_1
        - TS001_V1_0_1
        - PHY_V1_0_2_REV_A
        - RP001_V1_0_2
        - PHY_V1_0_2_REV_B
        - RP001_V1_0_2_REV_B
        - PHY_V1_1_REV_A
        - RP001_V1_1_REV_A
        - PHY_V1_1_REV_B
        - RP001_V1_1_REV_B
        - PHY_V1_0_3_REV_A
        - RP001_V1_0_3_REV_A
        - RP002_V1_0_0
        - RP002_V1_0_1
        - RP002_V1_0_2
        - RP002_V1_0_3
        - RP002_V1_0_4
        default: PHY_UNKNOWN
      tags:
      - Configuration
  /configuration/bands/{band_id}:
    get:
      operationId: Configuration_ListBands2
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ListBandsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: band_id
        description: 'Optional Band ID to filter the results.

          If unused, all supported Bands are returned.'
        in: path
        required: true
        type: string
      - name: phy_version
        description: 'Optional PHY version to filter the results.

          If unused, all supported versions are returned.'
        in: query
        required: false
        type: string
        enum:
        - PHY_UNKNOWN
        - PHY_V1_0
        - TS001_V1_0
        - PHY_V1_0_1
        - TS001_V1_0_1
        - PHY_V1_0_2_REV_A
        - RP001_V1_0_2
        - PHY_V1_0_2_REV_B
        - RP001_V1_0_2_REV_B
        - PHY_V1_1_REV_A
        - RP001_V1_1_REV_A
        - PHY_V1_1_REV_B
        - RP001_V1_1_REV_B
        - PHY_V1_0_3_REV_A
        - RP001_V1_0_3_REV_A
        - RP002_V1_0_0
        - RP002_V1_0_1
        - RP002_V1_0_2
        - RP002_V1_0_3
        - RP002_V1_0_4
        default: PHY_UNKNOWN
      tags:
      - Configuration
  /configuration/bands/{band_id}/{phy_version}:
    get:
      operationId: Configuration_ListBands3
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ListBandsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: band_id
        description: 'Optional Band ID to filter the results.

          If unused, all supported Bands are returned.'
        in: path
        required: true
        type: string
      - name: phy_version
        description: 'Optional PHY version to filter the results.

          If unused, all supported versions are returned.'
        in: path
        required: true
        type: string
        enum:
        - PHY_UNKNOWN
        - PHY_V1_0
        - TS001_V1_0
        - PHY_V1_0_1
        - TS001_V1_0_1
        - PHY_V1_0_2_REV_A
        - RP001_V1_0_2
        - PHY_V1_0_2_REV_B
        - RP001_V1_0_2_REV_B
        - PHY_V1_1_REV_A
        - RP001_V1_1_REV_A
        - PHY_V1_1_REV_B
        - RP001_V1_1_REV_B
        - PHY_V1_0_3_REV_A
        - RP001_V1_0_3_REV_A
        - RP002_V1_0_0
        - RP002_V1_0_1
        - RP002_V1_0_2
        - RP002_V1_0_3
        - RP002_V1_0_4
      tags:
      - Configuration
  /configuration/frequency-plans:
    get:
      operationId: Configuration_ListFrequencyPlans
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ListFrequencyPlansResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: base_frequency
        description: Optional base frequency in MHz for hardware support (433, 470, 868 or 915)
        in: query
        required: false
        type: integer
        format: int64
      - name: band_id
        description: Optional Band ID to filter the results.
        in: query
        required: false
        type: string
      - name: gateways_only
        description: Optional field to include only gateway related results.
        in: query
        required: false
        type: boolean
      tags:
      - Configuration
  /configuration/phy-versions:
    get:
      summary: Returns a list of supported LoRaWAN PHY Versions for the given Band ID.
      operationId: Configuration_GetPhyVersions
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetPhyVersionsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: band_id
        description: 'Optional Band ID to filter the results.

          If unused, all supported Bands and their versions are returned.'
        in: query
        required: false
        type: string
      tags:
      - Configuration
  /contact_info/validation:
    post:
      summary: Request validation for the non-validated contact info for the given entity.
      operationId: ContactInfoRegistry_RequestValidation
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/lorawanv3ContactInfoValidation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: body
        description: EntityIdentifiers contains one of the possible entity identifiers.
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3EntityIdentifiers'
      tags:
      - ContactInfoRegistry
    patch:
      summary: Validate confirms a contact info validation.
      operationId: ContactInfoRegistry_Validate
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/lorawanv3ContactInfoValidation'
      tags:
      - ContactInfoRegistry
  /email/validation:
    post:
      summary: Request validation for the non-validated contact info for the given entity.
      operationId: EmailValidationRegistry_RequestValidation
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3EmailValidation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3UserIdentifiers'
      tags:
      - EmailValidationRegistry
    patch:
      summary: Validate confirms a contact info validation.
      operationId: EmailValidationRegistry_Validate
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3ValidateEmailRequest'
      tags:
      - EmailValidationRegistry
  /gateways/{gateway_ids.gateway_id}/collaborators/search:
    get:
      summary: Search for accounts that match the conditions specified in the request.
      operationId: EntityRegistrySearch_SearchAccounts4
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3SearchAccountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: gateway_ids.gateway_id
        in: path
        required: true
        type: string
      - name: query
        in: query
        required: false
        type: string
      - name: only_users
        in: query
        required: false
        type: boolean
      - name: application_ids.application_id
        in: query
        required: false
        type: string
      - name: client_ids.client_id
        in: query
        required: false
        type: string
      - name: gateway_ids.eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: complement_collaborators
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /invitations:
    get:
      summary: List the invitations the caller has sent.
      operationId: UserInvitationRegistry_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Invitations'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - UserInvitationRegistry
    delete:
      summary: Delete (revoke) a user invitation.
      operationId: UserInvitationRegistry_Delete
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: email
        in: query
        required: false
        type: string
      tags:
      - UserInvitationRegistry
    post:
      summary: Invite a user to join the network.
      operationId: UserInvitationRegistry_Send
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/lorawanv3Invitation'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3SendInvitationRequest'
      tags:
      - UserInvitationRegistry
  /is/configuration:
    get:
      summary: 'Get the configuration of the Identity Server. The response is typically used

        to enable or disable features in a user interface.'
      operationId: Is_GetConfiguration
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetIsConfigurationResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      tags:
      - Is
  /organizations:
    get:
      summary: 'List organizations where the given user or organization is a direct collaborator.

        If no user or organization is given, this returns the organizations the caller

        has access to.

        Similar to Get, this selects the fields given by the field mask.

        More or less fields may be returned, depending on the rights of the caller.'
      operationId: OrganizationRegistry_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Organizations'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: field_mask
        description: The names of the organization fields that should be returned.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted organizations.
        in: query
        required: false
        type: boolean
      tags:
      - OrganizationRegistry
  /organizations/{collaborator.organization_ids.organization_id}/clients:
    get:
      summary: 'List OAuth clients where the given user or organization is a direct collaborator.

        If no user or organization is given, this returns the OAuth clients the caller

        has access to.

        Similar to Get, this selects the fields specified in the field mask.

        More or less fields may be returned, depending on the rights of the caller.'
      operationId: ClientRegistry_List3
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Clients'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: field_mask
        description: The names of the client fields that should be returned.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted clients.
        in: query
        required: false
        type: boolean
      tags:
      - ClientRegistry
    post:
      summary: 'Create a new OAuth client. This also sets the given organization or user as

        first collaborator with all possible rights.'
      operationId: ClientRegistry_Create2
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Client'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3ClientRegistryCreateBody'
      tags:
      - ClientRegistry
  /organizations/{organization.ids.organization_id}:
    put:
      summary: Update the organization, changing the fields specified by the field mask to the provided values.
      operationId: OrganizationRegistry_Update
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Organization'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization.ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3OrganizationRegistryUpdateBody'
      tags:
      - OrganizationRegistry
  /organizations/{organization_ids.organization_id}:
    get:
      summary: 'Get the organization with the given identifiers, selecting the fields specified

        in the field mask.

        More or less fields may be returned, depending on the rights of the caller.'
      operationId: OrganizationRegistry_Get
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Organization'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: field_mask
        description: The names of the organization fields that should be returned.
        in: query
        required: false
        type: string
      tags:
      - OrganizationRegistry
  /organizations/{organization_ids.organization_id}/api-keys:
    get:
      summary: List the API keys for this organization.
      operationId: OrganizationAccess_ListAPIKeys
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKeys'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: order
        description: 'Order the results by this field path.

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - OrganizationAccess
    post:
      summary: 'Create an API key scoped to this organization.

        Organization API keys can give access to the organization itself, as well as

        any application, gateway and OAuth client this organization is a collaborator of.'
      operationId: OrganizationAccess_CreateAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3OrganizationAccessCreateAPIKeyBody'
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/api-keys/{api_key.id}:
    put:
      summary: 'Update the rights of an API key of the organization.

        This method can also be used to delete the API key, by giving it no rights.

        The caller is required to have all assigned or/and removed rights.'
      operationId: OrganizationAccess_UpdateAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: api_key.id
        description: 'Immutable and unique public identifier for the API key.

          Generated by the Access Server.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3OrganizationAccessUpdateAPIKeyBody'
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/api-keys/{key_id}:
    get:
      summary: Get a single API key of this organization.
      operationId: OrganizationAccess_GetAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: key_id
        description: Unique public identifier for the API key.
        in: path
        required: true
        type: string
      tags:
      - OrganizationAccess
    delete:
      summary: Delete a single API key of this organization.
      operationId: OrganizationAccess_DeleteAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: key_id
        in: path
        required: true
        type: string
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/collaborator/user/{collaborator.user_ids.user_id}:
    get:
      summary: 'Get the rights of a collaborator (member) of the organization.

        Pseudo-rights in the response (such as the "_ALL" right) are not expanded.'
      operationId: OrganizationAccess_GetCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3GetCollaboratorResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/collaborators:
    get:
      summary: List the collaborators on this organization.
      operationId: OrganizationAccess_ListCollaborators
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Collaborators'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      tags:
      - OrganizationAccess
    put:
      summary: 'Set the rights of a collaborator (member) on the organization.

        Organization collaborators can get access to the organization itself, as well as

        any application, gateway and OAuth client this organization is a collaborator of.

        This method can also be used to delete the collaborator, by giving them no rights.

        The caller is required to have all assigned or/and removed rights.'
      operationId: OrganizationAccess_SetCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3OrganizationAccessSetCollaboratorBody'
      tags:
      - OrganizationAccess
  /organizations/{organization_ids.organization_id}/collaborators/search:
    get:
      summary: Search for accounts that match the conditions specified in the request.
      operationId: EntityRegistrySearch_SearchAccounts5
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3SearchAccountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: query
        in: query
        required: false
        type: string
      - name: only_users
        in: query
        required: false
        type: boolean
      - name: application_ids.application_id
        in: query
        required: false
        type: string
      - name: client_ids.client_id
        in: query
        required: false
        type: string
      - name: gateway_ids.gateway_id
        in: query
        required: false
        type: string
      - name: gateway_ids.eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      - name: complement_collaborators
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /organizations/{organization_ids.organization_id}/collaborators/user/{collaborator_ids.user_ids.user_id}:
    delete:
      summary: DeleteCollaborator removes a collaborator from an organization.
      operationId: OrganizationAccess_DeleteCollaborator
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      - name: collaborator_ids.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: collaborator_ids.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - OrganizationAccess
  /organizations/{organization_id}:
    delete:
      summary: Delete the organization. This may not release the organization ID for reuse.
      operationId: OrganizationRegistry_Delete
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      tags:
      - OrganizationRegistry
  /organizations/{organization_id}/purge:
    delete:
      summary: 'Purge the organization. This will release the organization ID for reuse.

        The user is responsible for clearing data from any (external) integrations

        that may store and expose data by user or organization ID.'
      operationId: OrganizationRegistry_Purge
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      tags:
      - OrganizationRegistry
  /organizations/{organization_id}/restore:
    post:
      summary: Restore a recently deleted organization.
      description: 'Deployment configuration may specify if, and for how long after deletion,

        entities can be restored.'
      operationId: OrganizationRegistry_Restore
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      tags:
      - OrganizationRegistry
  /organizations/{organization_id}/rights:
    get:
      summary: List the rights the caller has on this organization.
      operationId: OrganizationAccess_ListRights
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Rights'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: organization_id
        description: This ID shares namespace with user IDs.
        in: path
        required: true
        type: string
      tags:
      - OrganizationAccess
  /search/accounts:
    get:
      summary: Search for accounts that match the conditions specified in the request.
      operationId: EntityRegistrySearch_SearchAccounts
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3SearchAccountsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: query
        in: query
        required: false
        type: string
      - name: only_users
        in: query
        required: false
        type: boolean
      - name: application_ids.application_id
        in: query
        required: false
        type: string
      - name: client_ids.client_id
        in: query
        required: false
        type: string
      - name: gateway_ids.gateway_id
        in: query
        required: false
        type: string
      - name: gateway_ids.eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      - name: organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: complement_collaborators
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /search/applications:
    get:
      summary: 'Search for applications that match the conditions specified in the request.

        Non-admin users will only match applications that they have rights on.'
      operationId: EntityRegistrySearch_SearchApplications
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Applications'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: query
        description: Find applications where the ID, name or description contains this substring.
        in: query
        required: false
        type: string
      - name: id_contains
        description: Find applications where the ID contains this substring.
        in: query
        required: false
        type: string
      - name: name_contains
        description: Find applications where the name contains this substring.
        in: query
        required: false
        type: string
      - name: description_contains
        description: Find applications where the description contains this substring.
        in: query
        required: false
        type: string
      - name: attributes_contain[string]
        description: This is a request variable of the map type. The query format is "map_name[key]=value", e.g. If the map
          name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age["bob"]=18
        in: query
        required: false
        type: string
      - name: field_mask
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted applications.
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /search/applications/{application_ids.application_id}/devices:
    get:
      summary: Search for end devices in the given application that match the conditions specified in the request.
      operationId: EndDeviceRegistrySearch_SearchEndDevices
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3EndDevices'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: application_ids.application_id
        in: path
        required: true
        type: string
      - name: query
        description: Find end devices where the ID, name, description or EUI contains this substring.
        in: query
        required: false
        type: string
      - name: id_contains
        description: Find end devices where the ID contains this substring.
        in: query
        required: false
        type: string
      - name: name_contains
        description: Find end devices where the name contains this substring.
        in: query
        required: false
        type: string
      - name: description_contains
        description: Find end devices where the description contains this substring.
        in: query
        required: false
        type: string
      - name: attributes_contain[string]
        description: This is a request variable of the map type. The query format is "map_name[key]=value", e.g. If the map
          name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age["bob"]=18
        in: query
        required: false
        type: string
      - name: dev_eui_contains
        description: Find end devices where the (hexadecimal) DevEUI contains this substring.
        in: query
        required: false
        type: string
      - name: join_eui_contains
        description: Find end devices where the (hexadecimal) JoinEUI contains this substring.
        in: query
        required: false
        type: string
      - name: dev_addr_contains
        description: Find end devices where the (hexadecimal) DevAddr contains this substring.
        in: query
        required: false
        type: string
      - name: field_mask
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - EndDeviceRegistrySearch
  /search/clients:
    get:
      summary: 'Search for OAuth clients that match the conditions specified in the request.

        Non-admin users will only match OAuth clients that they have rights on.'
      operationId: EntityRegistrySearch_SearchClients
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Clients'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: query
        description: Find OAuth clients where the ID, name or description contains this substring.
        in: query
        required: false
        type: string
      - name: id_contains
        description: Find OAuth clients where the ID contains this substring.
        in: query
        required: false
        type: string
      - name: name_contains
        description: Find OAuth clients where the name contains this substring.
        in: query
        required: false
        type: string
      - name: description_contains
        description: Find OAuth clients where the description contains this substring.
        in: query
        required: false
        type: string
      - name: attributes_contain[string]
        description: This is a request variable of the map type. The query format is "map_name[key]=value", e.g. If the map
          name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age["bob"]=18
        in: query
        required: false
        type: string
      - name: state
        description: "Find OAuth clients where the state is any of these states.\n\n - STATE_REQUESTED: Denotes that the entity\
          \ has been requested and is pending review by an admin.\n - STATE_APPROVED: Denotes that the entity has been reviewed\
          \ and approved by an admin.\n - STATE_REJECTED: Denotes that the entity has been reviewed and rejected by an admin.\n\
          \ - STATE_FLAGGED: Denotes that the entity has been flagged and is pending review by an admin.\n - STATE_SUSPENDED:\
          \ Denotes that the entity has been reviewed and suspended by an admin."
        in: query
        required: false
        type: array
        items:
          type: string
          enum:
          - STATE_REQUESTED
          - STATE_APPROVED
          - STATE_REJECTED
          - STATE_FLAGGED
          - STATE_SUSPENDED
        collectionFormat: multi
      - name: field_mask
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted OAuth clients.
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /search/gateways:
    get:
      summary: 'Search for gateways that match the conditions specified in the request.

        Non-admin users will only match gateways that they have rights on.'
      operationId: EntityRegistrySearch_SearchGateways
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Gateways'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: query
        description: Find gateways where the ID, name, description or EUI contains this substring.
        in: query
        required: false
        type: string
      - name: id_contains
        description: Find gateways where the ID contains this substring.
        in: query
        required: false
        type: string
      - name: name_contains
        description: Find gateways where the name contains this substring.
        in: query
        required: false
        type: string
      - name: description_contains
        description: Find gateways where the description contains this substring.
        in: query
        required: false
        type: string
      - name: attributes_contain[string]
        description: This is a request variable of the map type. The query format is "map_name[key]=value", e.g. If the map
          name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age["bob"]=18
        in: query
        required: false
        type: string
      - name: eui_contains
        description: Find gateways where the (hexadecimal) EUI contains this substring.
        in: query
        required: false
        type: string
      - name: field_mask
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted gateways.
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /search/organizations:
    get:
      summary: 'Search for organizations that match the conditions specified in the request.

        Non-admin users will only match organizations that they have rights on.'
      operationId: EntityRegistrySearch_SearchOrganizations
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Organizations'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: query
        description: Find organizations where the ID, name or description contains this substring.
        in: query
        required: false
        type: string
      - name: id_contains
        description: Find organizations where the ID contains this substring.
        in: query
        required: false
        type: string
      - name: name_contains
        description: Find organizations where the name contains this substring.
        in: query
        required: false
        type: string
      - name: description_contains
        description: Find organizations where the description contains this substring.
        in: query
        required: false
        type: string
      - name: attributes_contain[string]
        description: This is a request variable of the map type. The query format is "map_name[key]=value", e.g. If the map
          name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age["bob"]=18
        in: query
        required: false
        type: string
      - name: field_mask
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted organizations.
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /search/users:
    get:
      summary: 'Search for users that match the conditions specified in the request.

        This is only available to admin users.'
      operationId: EntityRegistrySearch_SearchUsers
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Users'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: query
        description: Find users where the ID, name or description contains this substring.
        in: query
        required: false
        type: string
      - name: id_contains
        description: Find users where the ID contains this substring.
        in: query
        required: false
        type: string
      - name: name_contains
        description: Find users where the name contains this substring.
        in: query
        required: false
        type: string
      - name: description_contains
        description: Find users where the description contains this substring.
        in: query
        required: false
        type: string
      - name: attributes_contain[string]
        description: This is a request variable of the map type. The query format is "map_name[key]=value", e.g. If the map
          name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age["bob"]=18
        in: query
        required: false
        type: string
      - name: state
        description: "Find users where the state is any of these states.\n\n - STATE_REQUESTED: Denotes that the entity has\
          \ been requested and is pending review by an admin.\n - STATE_APPROVED: Denotes that the entity has been reviewed\
          \ and approved by an admin.\n - STATE_REJECTED: Denotes that the entity has been reviewed and rejected by an admin.\n\
          \ - STATE_FLAGGED: Denotes that the entity has been flagged and is pending review by an admin.\n - STATE_SUSPENDED:\
          \ Denotes that the entity has been reviewed and suspended by an admin."
        in: query
        required: false
        type: array
        items:
          type: string
          enum:
          - STATE_REQUESTED
          - STATE_APPROVED
          - STATE_REJECTED
          - STATE_FLAGGED
          - STATE_SUSPENDED
        collectionFormat: multi
      - name: field_mask
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted users.
        in: query
        required: false
        type: boolean
      tags:
      - EntityRegistrySearch
  /users:
    get:
      summary: List users of the network. This method is typically restricted to admins only.
      operationId: UserRegistry_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Users'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: field_mask
        description: The names of the user fields that should be returned.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted users.
        in: query
        required: false
        type: boolean
      tags:
      - UserRegistry
    post:
      summary: Register a new user. This method may be restricted by network settings.
      operationId: UserRegistry_Create
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3User'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3CreateUserRequest'
      tags:
      - UserRegistry
  /users/{collaborator.user_ids.user_id}/clients:
    get:
      summary: 'List OAuth clients where the given user or organization is a direct collaborator.

        If no user or organization is given, this returns the OAuth clients the caller

        has access to.

        Similar to Get, this selects the fields specified in the field mask.

        More or less fields may be returned, depending on the rights of the caller.'
      operationId: ClientRegistry_List2
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Clients'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: field_mask
        description: The names of the client fields that should be returned.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted clients.
        in: query
        required: false
        type: boolean
      tags:
      - ClientRegistry
    post:
      summary: 'Create a new OAuth client. This also sets the given organization or user as

        first collaborator with all possible rights.'
      operationId: ClientRegistry_Create
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Client'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3ClientRegistryCreateBody'
      tags:
      - ClientRegistry
  /users/{collaborator.user_ids.user_id}/organizations:
    get:
      summary: 'List organizations where the given user or organization is a direct collaborator.

        If no user or organization is given, this returns the organizations the caller

        has access to.

        Similar to Get, this selects the fields given by the field mask.

        More or less fields may be returned, depending on the rights of the caller.'
      operationId: OrganizationRegistry_List2
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Organizations'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: collaborator.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: collaborator.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: field_mask
        description: The names of the organization fields that should be returned.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: deleted
        description: Only return recently deleted organizations.
        in: query
        required: false
        type: boolean
      tags:
      - OrganizationRegistry
    post:
      summary: 'Create a new organization. This also sets the given user as

        first collaborator with all possible rights.'
      operationId: OrganizationRegistry_Create
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3Organization'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: collaborator.user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3OrganizationRegistryCreateBody'
      tags:
      - OrganizationRegistry
  /users/{receiver_ids.user_id}/notifications:
    get:
      summary: 'List the notifications for a user or an organization.

        When called with user credentials and empty receiver_ids, this will list

        notifications for the current user and its organizations.'
      operationId: NotificationService_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3ListNotificationsResponse'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: receiver_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: receiver_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: status
        description: 'Select notifications with these statuses.

          An empty list is interpreted as "all".'
        in: query
        required: false
        type: array
        items:
          type: string
          enum:
          - NOTIFICATION_STATUS_UNSEEN
          - NOTIFICATION_STATUS_SEEN
          - NOTIFICATION_STATUS_ARCHIVED
        collectionFormat: multi
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - NotificationService
    patch:
      summary: Batch-update multiple notifications to the same status.
      operationId: NotificationService_UpdateStatus
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: receiver_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/NotificationServiceUpdateStatusBody'
      tags:
      - NotificationService
  /users/{user.ids.user_id}:
    put:
      summary: 'Update the user, changing the fields specified by the field mask to the provided values.

        This method can not be used to change the password, see the UpdatePassword method for that.'
      operationId: UserRegistry_Update
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3User'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user.ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3UserRegistryUpdateBody'
      tags:
      - UserRegistry
  /users/{user_ids.user_id}:
    get:
      summary: 'Get the user with the given identifiers, selecting the fields given by the

        field mask. The method may return more or less fields, depending on the rights

        of the caller.'
      operationId: UserRegistry_Get
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3User'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: field_mask
        description: The names of the user fields that should be returned.
        in: query
        required: false
        type: string
      tags:
      - UserRegistry
  /users/{user_ids.user_id}/api-keys:
    get:
      summary: List the API keys for this user.
      operationId: UserAccess_ListAPIKeys
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKeys'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path.

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - UserAccess
    post:
      summary: 'Create an API key scoped to this user.

        User API keys can give access to the user itself, as well as

        any organization, application, gateway and OAuth client this user is a collaborator of.'
      operationId: UserAccess_CreateAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3UserAccessCreateAPIKeyBody'
      tags:
      - UserAccess
  /users/{user_ids.user_id}/api-keys/{api_key.id}:
    put:
      summary: 'Update the rights of an API key of the user.

        This method can also be used to delete the API key, by giving it no rights.

        The caller is required to have all assigned or/and removed rights.'
      operationId: UserAccess_UpdateAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: api_key.id
        description: 'Immutable and unique public identifier for the API key.

          Generated by the Access Server.'
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3UserAccessUpdateAPIKeyBody'
      tags:
      - UserAccess
  /users/{user_ids.user_id}/api-keys/{key_id}:
    get:
      summary: Get a single API key of this user.
      operationId: UserAccess_GetAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3APIKey'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: key_id
        description: Unique public identifier for the API key.
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - UserAccess
    delete:
      summary: Delete a single API key of this user.
      operationId: UserAccess_DeleteAPIKey
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: key_id
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - UserAccess
  /users/{user_ids.user_id}/authorizations:
    get:
      summary: List OAuth clients that are authorized by the user.
      operationId: OAuthAuthorizationRegistry_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3OAuthClientAuthorizations'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - OAuthAuthorizationRegistry
  /users/{user_ids.user_id}/authorizations/{client_ids.client_id}:
    delete:
      summary: Delete (de-authorize) an OAuth client for the user.
      operationId: OAuthAuthorizationRegistry_Delete
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - OAuthAuthorizationRegistry
  /users/{user_ids.user_id}/authorizations/{client_ids.client_id}/tokens:
    get:
      summary: List OAuth access tokens issued to the OAuth client on behalf of the user.
      operationId: OAuthAuthorizationRegistry_ListTokens
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3OAuthAccessTokens'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: order
        description: 'Order the results by this field path (must be present in the field mask).

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      tags:
      - OAuthAuthorizationRegistry
  /users/{user_ids.user_id}/authorizations/{client_ids.client_id}/tokens/{id}:
    delete:
      summary: Delete (invalidate) an OAuth access token.
      operationId: OAuthAuthorizationRegistry_DeleteToken
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: client_ids.client_id
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - OAuthAuthorizationRegistry
  /users/{user_ids.user_id}/bookmarks:
    get:
      summary: List the bookmarks for the given user.
      operationId: UserBookmarkRegistry_List
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3UserBookmarks'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: limit
        description: Limit the number of results per page.
        in: query
        required: false
        type: integer
        format: int64
      - name: page
        description: Page number for pagination. 0 is interpreted as 1.
        in: query
        required: false
        type: integer
        format: int64
      - name: order
        description: 'Order the results by this field path.

          Default ordering is by ID. Prepend with a minus (-) to reverse the order.'
        in: query
        required: false
        type: string
      - name: deleted
        description: Only return recently deleted bookmarks.
        in: query
        required: false
        type: boolean
      - name: entity_types
        description: 'Specifies that only bookmarks that reference the given entity type should be returned. If empty the
          filter is not

          applied.'
        in: query
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
      tags:
      - UserBookmarkRegistry
    post:
      summary: Create a bookmark for the given user.
      operationId: UserBookmarkRegistry_Create
      responses:
        '200':
          description: A successful response.
          schema:
            $ref: '#/definitions/v3UserBookmark'
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/v3UserBookmarkRegistryCreateBody'
      tags:
      - UserBookmarkRegistry
  /users/{user_ids.user_id}/bookmarks/applications/{entity_ids.application_ids.application_id}:
    delete:
      summary: Delete the given user's bookmark.
      operationId: UserBookmarkRegistry_Delete
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
            $ref: '#/definitions/googlerpcStatus'
      parameters:
      - name: user_ids.user_id
        description: This ID shares namespace with organization IDs.
        in: path
        required: true
        type: string
      - name: entity_ids.application_ids.application_id
        in: path
        required: true
        type: string
      - name: user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      - name: entity_ids.client_ids.client_id
        in: query
        required: false
        type: string
      - name: entity_ids.device_ids.device_id
        in: query
        required: false
        type: string
      - name: entity_ids.device_ids.dev_eui
        description: The LoRaWAN DevEUI.
        in: query
        required: false
        type: string
        format: string
      - name: entity_ids.device_ids.join_eui
        description: The LoRaWAN JoinEUI (AppEUI until LoRaWAN 1.0.3 end devices).
        in: query
        required: false
        type: string
        format: string
      - name: entity_ids.device_ids.dev_addr
        description: The LoRaWAN DevAddr.
        in: query
        required: false
        type: string
        format: string
      - name: entity_ids.gateway_ids.gateway_id
        in: query
        required: false
        type: string
      - name: entity_ids.gateway_ids.eui
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
        format: string
      - name: entity_ids.organization_ids.organization_id
        description: This ID shares namespace with user IDs.
        in: query
        required: false
        type: string
      - name: entity_ids.user_ids.email
        description: Secondary identifier, which can only be used in specific requests.
        in: query
        required: false
        type: string
      tags:
      - UserBookmarkRegistry
  ? /users/{user_ids.user_id}/bookmarks/applications/{entity_ids.device_ids.application_ids.application_id}/devices/{entity_ids.device_ids.device_id}
  : delete:
      summary: Delete the given user's bookmark.
      operationId: UserBookmarkRegistry_Delete6
      responses:
        '200':
          description: A successful response.
          schema:
            type: object
            properties: {}
        default:
          description: An unexpected error response.
          schema:
[...]
